[2018-01-24 23:48] SethTisue commented on #1629
P.S. the errors look similar to errors in Shapeless, seen in the same log, so it's possible that when @milessabin looks into that, what he learns will be relevant here as well

[2018-01-25 00:17] TomasMikula commented on #1629
My guess is that it is because of https://github.com/scala/scala/pull/6069, which thanks to better unification resolves more implicits.

It will be problematic to make the same code compile with both Scala 2.11 and Scala 2.13. 😕

[2018-01-25 00:29] SethTisue commented on #1629
but #6069 was in 2.12.4...?

[2018-01-25 00:30] TomasMikula commented on #1629
Yes, but only under the flag `-Xsource:2.13`, which I don't see enabled in scalaz build.

[2018-01-25 00:40] SethTisue commented on #1629
ahhhhh, right.

[2018-01-25 00:52] TomasMikula commented on #1629
In the past, we enabled `-Ypartial-unification` and dropped 2.10 support in [one commit](https://github.com/scalaz/scalaz/pull/1367).

I personally would be fine with dropping 2.11 support in scalaz 7.3.x. But then, the community build uses 7.2.x anyway.

[2018-01-25 02:14] TomasMikula commented on #1629
Never mind, my guess must be wrong, since scalaz-core compiles with Scala 2.12.4 with `-Xsource:2.13`. Must be something else.

[2018-01-25 02:26] SethTisue commented on #1629
note that you should be able to reproduce the problem locally by using `publishLocal` to publish `scalacheck` and `kind-projector` for the latest Scala 2.13 nightly which at the moment is `2.13.0-pre-8eb67ed` (see https://stackoverflow.com/a/40622879/86485 for instructions on how to use Scala nightlies)

[2018-01-25 03:53] xuwei-k commented on #1629
workaround (Maybe break source compatibility, but keep binary compatibility)
https://github.com/xuwei-k/scalaz/commit/c186c59efdf20aa31781b41d452a8321ef52b1b7

[2018-01-25 17:53] joroKr21 commented on #1629
It's probably scala/scala#6123. It makes `WriterT[Id, W, A] <:< WriterT[F, W, A] forSome { type F[_] }` (which indeed it should be). That means some implicits have to be moved around (or can be deleted altogether). I will try with `publishLocal` later if someone doesn't beat me to it.

[2018-01-26 01:47] abhishek7 opened #1631 "Add on instructions to build scalaz and run tests locally for contributing"
Noticed that a set of instructions to:

1. Build the project
2. Run tests locally prior to opening a PR

were not in the contributing guidelines. Would it be helpful to have this added on to the contributing guidelines going forward?

[2018-01-26 02:42] jdegoes commented on #1631
@abhishek7 Yes, that'd be very helpful!

[2018-01-26 17:56] joroKr21 commented on #1631
Also how to check binary compatibility?

[2018-01-26 18:58] joroKr21 commented on #1629
There seem to be many such cases that I would deem "implicit priority inversion". For example `Trampoline` is a concrete instance of `Free` yet the `Monad` instance for `Trampoline` is defined in a superclass of the `Monad` instance for `Free`. Another example is the `MonadError` instance for `EitherT` being defined in a superclass of the `Monad` instance for `EitherT`, although `MonadError` is a

[2018-01-27 16:18] joroKr21 commented on #1629
#1632

[2018-01-29 03:05] abhishek7 commented on #1631
@jdegoes Great, will try to add on everything that I can!

@joroKr21 I'm happy to try to add that on to the list. Let me know if there is anything else that comes to mind.

[2018-02-01 03:13] SethTisue opened #1634 "publish for Scala 2.13.0-M3, please?"
prerequisite: #1629

also prerequisite, I believe: https://github.com/non/kind-projector/issues/63

[2018-02-01 23:58] xuwei-k commented on #1634
published scalaz `7.2.19` without `scalacheck_sjs0.6_2.13.0-M3`

[2018-02-02 00:23] xuwei-k commented on #1629
fixed in 7.2.x branch https://github.com/scalaz/scalaz/pull/1636
I'll merge #1632 and/or forwardport #1636 to 7.3

[2018-02-02 07:34] #1629 closed

[2018-02-02 16:57] TomasMikula opened #1640 "Place FooClass in the same file as Foo"
It seems to me there's no real benefit to separating, say, `Functor` and `FunctorClass` into distinct files.

On the negative side, it clutters the directory listing.

[2018-02-02 18:03] TomasMikula commented on #1640
But we are far from that already anyway.

[2018-02-02 22:05] edmundnoble commented on #1611
My guess is that @tonymorris wanted to prevent them from taking part in type inference.

[2018-02-02 22:07] tonymorris commented on #1611
I think they get passed as functions in quite a lot of use-cases.

[2018-02-02 22:13] TomasMikula commented on #1611
In such use cases, converting the method to a function on demand (`\/.left(_)`) seems to be no worse than `\/.left` returning a function.

[2018-02-02 22:14] tonymorris commented on #1611
Yeah, no strong opinion from me.

[2018-02-02 22:14] tonymorris commented on #1611
Maybe have both?

[2018-02-03 00:05] edmundnoble commented on #1611
I think it's alright to have the function version. The method version should probably be replaced in all cases by `syntax.either`'s postfix methods. The function version gives you the (useful in my code) ability to tell the compiler what type it should expect to be passed as a parameter, which lets you avoid variance issues.

[2018-02-03 00:37] TomasMikula commented on #1611
Can you give an example?

[2018-02-03 04:44] edmundnoble commented on #1611
Sure.
[code]
I guess this isn't *that* nice. But I don't see why anyone would use `\/.right` and `\/.left` and not the syntax otherwise.

[2018-02-03 14:16] TomasMikula commented on #1611
Yeah, this doesn't seem better than `\/.left`/`\/.right` being methods. (You might want to fix your example, though, it doesn't typecheck.)

I guess we could use syntax as smart constructors, though.

[2018-02-03 14:20] TomasMikula commented on #1611
I guess that would be best.

[2018-02-03 14:38] TomasMikula commented on #1611
See #1642.

[2018-02-03 23:07] fommil commented on #1601
(yeah... my son was born shortly after writing this ticket. You're not getting a PR anytime soon, sorry)

[2018-02-05 11:52] TomasMikula commented on #1611
Resolved by #1645.

[2018-02-05 11:52] #1611 closed

[2018-02-05 13:15] xuwei-k commented on #1634
published `scalaz-scalacheck-binding_sjs0.6_2.13.0-M3`

[2018-02-05 13:15] #1634 closed

[2018-02-05 15:40] SethTisue commented on #1634
wonderful, thank you!

[2018-02-08 18:33] fommil opened #1646 "boilerplate generators for Memo"
the idea of Memo is good, even though our implementations leave a lot to be desired.

It would be good to have boilerplate generators to make it easier to use. e.g. a single call to produce a memoised version of a typeclass. Something like https://github.com/TinkoffCreditSystems/MacroCache may have macros that could be used as a good foundation, but not any of the actual caches...

[2018-02-08 18:34] #910 closed

[2018-02-16 17:04] varming commented on #929
It is not thread safe for pure functions either. Not all member fields in classes in scala.collection.immutable are vals, i.e. final fields in the byte code (a well-known example is the `tl` var in scala.collection.immutable.List which is updated by the map method https://github.com/scala/scala/blob/2.13.x/src/library/scala/collection/immutable/List.scala#L288). The assignment to a single variable

[2018-02-17 08:41] #1589 closed

[2018-02-17 21:05] jmcardon opened #1652 "Add a Capture typeclass to scalaz8"
Similar to cats-effect `Sync[F]`, but without the "capture exceptions on map and flatmap" .

[2018-02-19 12:25] fommil opened #1653 "OptionalSyntax liftMonadPlus"
I found myself wanting some nice syntax to avoid cata boilerplate when lifting an Optional thing into a MonadPlus

e.g. instead of

[code]

[code]

what do people think about adding this to OptionalSyntax? Should be fairly trivial. It just seems obvious to me and I was wondering if there is a reason not to do it.

Proposed impl

[code]

or possibly with ApplicativePlus.

(maybe I should raise a PR

[2018-02-22 21:52] fommil commented on #1653
The above doesn't compile because I forgot to `>>=` but you should get the point.

With that in mind, the standalone function is more useful than the syntax... e.g.

[code]

[2018-02-22 21:55] fommil commented on #1653
oh, ffs, this is just `.orEmpty` isn't it?

[2018-02-22 21:55] #1653 closed

[2018-02-22 22:00] fommil commented on #1653
the funniest thing is, check who last touched that method.

[2018-02-22 22:06] emilypi commented on #1653
HA I'll go poke him

[2018-02-22 22:11] fommil commented on #1653
easier than you'd think... https://github.com/scalaz/scalaz/pull/1596

Although I think there may be room for a similar `.orError` method that takes a `MonadError` and an `E`.

[2018-02-22 22:13] fommil commented on #1653
[code]

[2018-03-01 00:01] fommil opened #1657 "split MonadError into raise and handle parts"
I have a usecase in `scalaz-deriving`, where derivation for refined types needs the `raiseError` for a `MonadError[?, String]` but not the `handle` side. https://gitlab.com/fommil/scalaz-deriving/issues/56#note_61076470

Since this puts a requirement on typeclass authors to provide a `MonadError` it is annoying that I'm asking them to write a `handleError` when I never plan to use it.

// @fthomas

[2018-03-01 00:36] fommil opened #1658 "MonadReader needs laws"
https://github.com/haskell/mtl/issues/5

[2018-03-01 20:17] jdegoes commented on #1652
I'm working on this. 👍

[2018-03-02 21:33] jaapterwoerds commented on #1627
I'm willing to take a stab at this.

[2018-03-02 23:45] fommil commented on #895
Hypelevel have proven that modularity buys nothing except user confusion and dependency hell.

The removal of subtyping has already made its way into scalaz 7.3 as we kill `+` and `-` type parameters everywhere we find them.

[2018-03-03 01:41] fommil opened #1659 "MonadError syntax doesn't work"
@edmundnoble explained the problem... it's because the implicit is on the class.

Since syntax doesn't work at all, I recommend that such a fix be backported to 7.2 on the basis that nobody is using that code.

[2018-03-03 02:55] tonymorris commented on #895
On the contrary, modularity buys you everything. Some attempted implementations of modularity do not achieve the goal :)

Modularity in scala requires certain trade-offs with how poorly-designed the language is. Failure to admit to those trades can often result in "worst of all worlds" scenarios.

[2018-03-03 08:14] ritschwumm commented on #895
@jdegoes i think reusing a widely known and used (and imported by default...)  name List for anything else than the standard library is not a good idea at all. having to do the `import scala.collection.{List => CList}` might be annoying, but i could live with it.

a real problem this would be for reviewing git commits. there, not being able to distinguish the two Lists from the diff alone (with re

[2018-03-03 12:46] fommil commented on #1659
this doesn't work either...

[code]

so I suspect it's actually a problem about deriving the monaderror for `String \/ ?`

[2018-03-03 12:46] #1659 closed

[2018-03-03 13:02] xuwei-k commented on #1659
`scalacOptions += "-Ypartial-unification"` ?

[2018-03-03 13:47] fommil commented on #1659
@xuwei-k oh, you're right... I'm in a project that isn't using partial-unification.

But I think I found a better way to do what I want anyway with EitherT

[2018-03-03 22:32] fommil opened #1660 "MonadError.emap"
I'm not sure how to implement it yet, but it would be very useful to have this function:

[code]

probably needs some extra evidence to allow smashing F and G together.

Most decoder typeclasses implement this directly, but I'm pretty sure it can be provided automatically (with a `MonadError`, obvs).

[2018-03-03 23:46] fommil commented on #1660
btw, if we hard code to disjunction, it's trivial

[code]

[2018-03-03 23:49] fommil commented on #1660
closed in #1661 with hardcoded disjunction, because it's super useful

[2018-03-03 23:49] #1660 closed

[2018-03-04 00:04] fommil commented on #1660
hmm, looking at it this way... `bifoldMap` would seem to do what is needed.

[2018-03-04 11:48] fommil opened #1662 "fromIso everywhere"
In https://github.com/scalaz/scalaz/pull/1661 I introduced a method on MonadError called `fromIso` which allowed deriving a `MonadError` from something isomorphic that has one already.

Most things already have an `IsomorphismThing` trait in `Isomorphism.scala` but very few people know about it, and using it is tedious.

We should add `fromIso` methods onto all typeclass companions that has an iso

[2018-03-04 12:20] fommil commented on #1662
it would also be good if there was Iso syntax. It would need to consider isos that are either way around and flip the opposite one. So maybe two implicit classes, to avoid overloading.

This would remove the need for `.toList` and `.fromList` style methods.

[2018-03-04 13:51] xuwei-k commented on #1662
create new typeclass ? https://github.com/xuwei-k/scalaz/commit/8076ed999b4d99dcc0ca30f70562f4450d5260d3

[2018-03-04 14:39] fommil commented on #1662
I guess that works :smile:

[2018-03-04 19:37] ritschwumm commented on #1660
why not generalize from `F[A] => (A => S \/ A) => F[A]` to `F[A] => (A => S \/ B) => F[B]`?

[2018-03-04 19:41] fommil commented on #1660
doh

[2018-03-05 09:03] fommil commented on #1657
Now that I can piggy back off EitherT for my most common usecase, I don't really care anymore :stuck_out_tongue:

[2018-03-05 10:34] jbgi opened #1663 "add foldRightLazy / foldRightStrict to Foldable"
Currently some `Foldable.foldRight` implementations are "lazy" (`Stream`, `EphemeralStream`), most others are not (eg. implemented in term of `reverse` + `foldLeft`).

But the choice to implement `foldRight[A, B](fa: F[A], z: => B)(f: (A, => B) => B): B` lazily or not should not be based on `F[A]` being a "lazy" data-structure or a strict one. This choice in fact depends on `B`, not on `F[A]`

Ind

[2018-03-05 13:04] TomasMikula commented on #1663
Good job noticing that lazy foldRight depends on capabilities of the target type `B` rather than the structure being folded!

👍 to differentiating between `foldRightStrict` and `foldRightLazy`.

I'm wary of choosing between strict and lazy dynamically at runtime, though.

[2018-03-10 08:32] fwbrasil opened #1665 "[8.0.x] New IO - Potential deadlock"
@jdegoes I'm trying to benchmark the new IO implementation but it seems that it has a concurrency issue. This code runs for some time but at some point, it blocks indefinitely:

[code]

Thread dump:
[code]

[2018-03-13 19:13] jdegoes commented on #1665
@fwbrasil Thanks for the bug report! I'll take a look at this within the next week.

[2018-03-21 00:02] fommil opened #1669 "add an unused annotation"
as in https://github.com/scala/bug/issues/10790

I propose adding this annotation to scalaz (even in 7.2)

[code]

so we can turn on unused warnings in the build, with an easy way to opt out on a per-parameter basis.

Seems like a nice lint for us to have.

I'm not sure what the binary compatibility implications are for adding annotatinos to parameters.

[2018-03-21 00:12] #1669 closed

[2018-03-22 14:23] uryyyyyyy opened #1671 "ValidationNel and NonEmptyList are invariant"
Thanks for great FP library.

In cats, both are covariant.
https://github.com/typelevel/cats/issues/1419

but in scalaz, both are invariant.
https://github.com/scalaz/scalaz/blob/series/7.3.x/core/src/main/scala/scalaz/NonEmptyList.scala#L10

Do you have any reason?

[2018-03-22 14:47] jbgi commented on #1671
Indeed there is. See links https://github.com/scalaz/scalaz/issues/1469#issuecomment-334975979

Basically variance annotations increase chance of scalac inferring the wrong types. It was decided that their added complexity and related scalac bugs is not worth it because the problem that sub-typing is trying to solve can be better solved via other mechanisms (eg. type classes, lenses, leibniz/lisko

[2018-03-22 14:47] #1671 closed

[2018-03-22 15:02] uryyyyyyy commented on #1671
Oh... I see...
I will convert these types to Either or List or else.
Thanks!

[2018-03-22 16:30] Jacoby6000 commented on #1671
@uryyyyyyy I recommend trying to stick with invariant structures.  They will hurt a lot less in the long run... There are just a few scala idiosyncrasies to get used to first.

[2018-03-22 17:29] joroKr21 commented on #1671
I have never seen a proper explanation of the reasoning behind this. The linked discussion is about _how_ to implement invariance but not _why_. Is it just folklore and fear from ancient compiler bugs? I get why type classes should be invariant but invariant data types are soo cumbersome to use in Scala. It's like you're trading bad type inference for no type inference at all, because now you have

[2018-03-22 20:24] tonymorris commented on #1671
Variance does not improve type-inference. It moves. If you more often use the cases where type-inference is beneficial, it will look like variance is a great idea. As you tend toward exploiting FP, this stops being the case and the trade-off with type-inference stops existing. It's a no-factor.

[2018-03-23 11:02] fommil opened #1672 "add a Foldable.{asum, atraverse}"
https://hackage.haskell.org/package/base-4.11.0.0/docs/Data-Foldable.html

I keep finding myself wanting this, especially atraverse since scala is eager.

Example usecase

[code]

but I'd like to do

[code]

[2018-03-23 11:25] fommil commented on #1672
`asum` looks like `msuml`. We could do with an alias for the haskell name on the syntax and an `atraverse` on `Traverse`.

[2018-03-23 11:33] fommil commented on #1672
this may just be as simple as

[code]

but with the map applied when folding in the fold to account for eager `xs` structures.

[2018-03-23 14:01] jbgi commented on #1672
@fommil : could it help if we tackle #1663 first?

[2018-03-24 16:34] #1672 closed

[2018-03-24 16:35] fommil opened #1675 "stack safe PlusEmpty"
as suggested by @TomasMikula in https://github.com/scalaz/scalaz/pull/1673#issuecomment-375881802

[2018-03-24 22:24] TomasMikula commented on #1675
The question is whether to require this of every `PlusEmpty` or to introduce a new typeclass `PlusEmptyRec` (analogously to `BindRec`).

[2018-03-24 22:43] fommil commented on #1675
Thinking some more on this, I think the problem is with the Foldable not the MonadPlus. e.g. it's IList's problem, not Maybe.

[2018-03-25 22:31] TomasMikula commented on #1675
`IList` has no way to know whether it can terminate early.

[2018-03-25 22:51] fommil commented on #1675
Oh, I get you. Yeah, that does work.

[2018-03-25 23:16] fommil commented on #1662
I'm increasingly convinced that `fromIso` is how to derive typeclasses of shape `F[_[_]]` such as `Monad`. see https://gitlab.com/fommil/scalaz-deriving/issues/74

The `fromIso` convention is easily supported, but obtaining the `IsoFunctor` for the data type could be difficult unless we encourage them to be implicit or we derive them with a macro (I have one already).

I also think I need a refine

[2018-03-26 10:04] TomasMikula commented on #1663
For

[code]

to be stack safe, we would require `f` to never evaluate its second argument before producing the result. (The result may store a thunk that computes the second argument, though.)

There could be a third version that is not lazy (thus `B` doesn't have to be a lazy data structure), but can still terminate early. We would require an `f` that, after looking at its first argument `A`, wil

[2018-03-26 12:09] jbgi commented on #1663
I see. What about this version:
[code]
and we use `z` to terminate early if `et` return true?

[2018-03-26 12:39] TomasMikula commented on #1663
The `B` used for early termination may depend on the element `A` and be different from `z: B` used when all elements were exhausted.

Consider for example

[code]

[code]

[2018-03-26 12:42] jbgi commented on #1663
Yeah, I realized that just after posting.

[2018-03-28 21:33] fommil opened #1684 "Partial.apply"
I often find myself having to interact with a legacy API that is completely deterministic, yet throws an exception on failure. Examples are: parsing numbers, parsing base64. We do this within the scalaz codebase itself.

We can either use `IO` or `Try` to run this code and convert the non-referentially transparent `Throwable` into a more meaningful type, but the ceremony is lengthy.

I propose a n

[2018-03-28 23:33] fommil commented on #1684
`Exception` is better than `Throwable`. We shouldn't be catching serious things.

[2018-03-29 00:37] NeQuissimus commented on #1684
Why not add a third function next to `\/.fromTryCatchThrowable` and `\/.fromTryCatchNonFatal`?

https://github.com/scalaz/scalaz/blob/series/7.3.x/core/src/main/scala/scalaz/Either.scala#L399

[2018-03-29 07:08] fommil commented on #1684
@NeQuissimus good idea. I'd rather deprecate the others and use a shorter name.

[2018-03-29 20:12] fommil opened #1686 "optimisation: early exit parsers in StringOps"
(scalaz 7.3) the unhappy path for the number parsers in StringOps could be dramatically improved with a regex bloom filter that checks if the input is expected to be valid.

[2018-03-30 12:28] TomasMikula commented on #1663
Thinking about it more, a termination condition like `A => Maybe[B]` is not general enough: that a computation may terminate early may depend on all the `A`s encountered so far, not just as single `A`.

So I update my proposal to fold using a reducer:

[code]

which would fold the structure from the _left_.

(Note: A one-sided `RightReducer` could be used here, so that it's clear in which directio

[2018-04-05 08:16] fommil opened #1694 "7.2.21"
@xuwei-k any chances of a point release in the next few weeks? :smile:

[2018-04-05 15:51] #1590 closed

[2018-04-05 20:39] fommil opened #1695 "a scalaz.TypeClass marker trait"
if such a trait were to be provided and all typeclasses inherit from it (e.g. via the gentypeclass), tooling could do a much much better job in terms of discoverability and linting. It would help us find a) typeclasses and b) instance types, very easily. We could even have tooling that would add the necessary typeclasses to our functions.

Nothing else should be in the trait. It'd just be a marker

[2018-04-05 20:48] alexknvl commented on #1695
Are there any guidelines to decide what is and what isn't a typeclass? For example, is `Is[A, B]` a typeclass?

[2018-04-05 21:18] emilypi commented on #1695
@alexknvl If we hide the ability for end users to construct their own `TypeClass`es, and have quorum on what constitutes a valid typeclass for Scalaz, I'd be very amenable to this, and I agree - we need to decide what is and is not a "typeclass" for our purposes.

[2018-04-05 21:48] TomasMikula commented on #1695
I think that whether a type is a typeclass depends on context (how it's used) rather than on what it is.

[2018-04-05 21:52] fommil commented on #1695
I've heard people say in `#scalaz` that it must be a trait with a single type parameter hole, which excludes things like `IsoFunctor` unless it is pinned to a specific type (this has consequences for how HKT deriving is implemented).

But then again, everybody is happy accepting that `MonadError` is a typeclass when it is pinned to a specific error type.

[2018-04-06 00:29] xuwei-k commented on #1694
done
- https://github.com/scalaz/scalaz/wiki/7.2.21
- https://github.com/scalaz/scalaz/tree/v7.2.21
- https://oss.sonatype.org/content/repositories/releases/org/scalaz/scalaz-core_2.12/7.2.21/

[2018-04-06 00:29] #1694 closed

[2018-04-06 21:16] #1627 closed

[2018-04-09 21:53] emilypi commented on #1628
@jbgi did you have any explicitly in mind as an example?

[2018-04-10 06:54] jbgi commented on #1628
@emilypi The ones that triggered this issue are the locally defined `Monoid` and `Reducer` at https://github.com/scalaz/scalaz/blob/d3a340bbec072b11840eb60138d7ac37638df9d7/concurrent/src/main/scala/scalaz/concurrent/Task.scala#L251-L252

[2018-04-10 11:24] TomasMikula opened #1706 "Potentially shortcircuiting foldMaps"
Implement `foldMap` that supports early termination whenever the target `Monoid` does, for sequential data structures:

 - [ ] `List`
 - [ ] `IList`
 - [ ] `NonEmptyList`
 - [ ] `EphemeralStream`

This is analogous to what's already been done for `Stream` in https://github.com/scalaz/scalaz/commit/1fbc0cb10e555667e69e1360b8d4b1ad1d3cfb5e#diff-bf0e1bb9c3e7f9beb88c492281f38ed7

[2018-04-10 13:20] alexknvl opened #1707 "A minor improvement to the newtype encoding."
https://github.com/scalaz/scalaz/pull/1704#discussion_r180409646

[2018-04-10 23:52] alexknvl commented on #1484
:tada: https://github.com/scalaz/scalaz/blob/series/8.0.x/base/shared/src/main/scala/scalaz/data/AList.scala#L180

[2018-04-10 23:52] #1484 closed

[2018-04-11 21:15] fommil opened #1712 "fix the invariant parameterless case class encoding"
in 7.3 we used an encoding that was recently discovered to be flawed https://github.com/scala/bug/issues/10822

But @hrhino fixed it in https://github.com/scalaz/ioeffect/pull/9

We should go back through 7.3 and fix our encoding.

[2018-04-11 21:28] alexknvl commented on #1712
I asked Tony on #scalaz

[2018-04-11 23:52] hrhino commented on #1712
Tony was kind enough to add me (thanks!)

[2018-04-12 12:24] hrhino commented on #1712
So... I took a look, and scalaz 7 *really* doesn't like exposing ADT branches.

The requirements are that:
- a `sealed` `abstract class`/`trait`...
- with an invariant type parameter...
- which has a case in which that parameter is `Nothing`...
- which is encoded with the zero-allocation casting trick...
- and is used in a match scrutinee where the type parameter is a concrete type.

We don't actu

[2018-04-12 12:30] fommil commented on #1712
@hrhino there are a couple, search for `abstract case` (6 uses) but

this.

In my book I've outright lied about the implementation of many data structures because it's so hard to understand what's going on with the OOP style encoding.

I think there is general consensus that using ADTs (even if they are kept private, such as `ISet` would need) is the preferred approach.

[2018-04-14 04:53] fwbrasil commented on #1665
Hi @jdegoes, would you have an update on this? I'm planning to publish some benchmark results this weekend and it'd be nice to have the scalaz numbers

[2018-04-14 11:04] TomasMikula opened #1715 "Implement short-circuiting for Applicatives with absorbing elements."
This amounts to overriding the `Apply#unfoldrOpt` method

[code]

so that it terminates as soon the result is uniquely determined. This has been done for `Maybe` in https://github.com/scalaz/scalaz/commit/e243fd623127b7d48ac259250210bd05c037f4e4.

Other applicatives with absorbing elements:

 - [ ] `Option` (stop when `None` is encountered)
 - [ ] `Either` (stop when `Left` is encountered)
 - [ ]

[2018-04-14 11:25] TomasMikula opened #1716 "Make Traversables short-circuiting _and_ stack-safe"
Traversals can be made both stack-safe _and_ short-circuiting, provided that the target `Applicative` implements short-circuiting. The key is to use the applicative's `unfoldrOpt` method for the implementation of `traverse`.

This has been done for `List` in https://github.com/scalaz/scalaz/commit/79c5413274b64e144049d4279c3a69ea17087e5c.

We should implement this at least for sequential data stru

[2018-04-14 20:29] jbgi opened #1717 "Make ApplicativePlus[F[_]] extends Applicative[F] with Plus[F]"
Currently we have `ApplicativePlus[F[_]]  extends Applicative[F] with PlusEmpty[F]`.
That would become `ApplicativePlusEmpty[F[_]] extends ApplicativePlus[F] with PlusEmpty[F]` instead.

That way we could have an instance of `ApplicativePlus` for, eg., `NonEmptyList`.

`ApplicativePlus` could also be enriched with optional methods:
[code]

This would also allows to have an efficient:
[code]

WDTY?

[2018-04-15 12:07] TomasMikula commented on #1717
👍 , but I wouldn't make the implied `Reducer` implicit: it might cause conflicts. Also, I still think we should have a typeclass similar to `Reducer` (possibly one-sided) but with all operations efficient.

[2018-04-15 16:58] rabbitonweb commented on #1657
@fommil what do you mean by "piggy back off EitherT"?

[2018-04-15 19:06] jbgi commented on #1717
It would be exposed under a tag (`ApSum`) so I don't think it would cause problems.

[2018-04-15 20:35] jdegoes commented on #1665
@fwbrasil Sorry about the delay. I pushed this back until after I completed a very large refactoring.

I'm done with the refactoring and taking a look at this next.

Note that `unsafePerformIO` in Scalaz 8 IO is not intended to be called until the "end of the world". So while this example should work and not deadlock, the library is not designed for this style of development (rather, you'd do the

[2018-04-15 22:24] TomasMikula commented on #1707
Resolved by #1718

[2018-04-15 22:24] #1707 closed

[2018-04-16 10:45] malancas commented on #1706
Hi, I'm a new contributor. I've started an implementation and would like to pick this issue up if it's okay. Thanks.

[2018-04-16 12:11] xuwei-k opened #1719 "scalaz 7.x: support Scala 2.13.0-M4 (new collections)"
- https://github.com/rickynils/scalacheck/pull/391
- https://github.com/scala/community-builds/issues/710
- WIP
  - https://github.com/xuwei-k/scalaz/commit/64ebcf6b7e724638cdf3ac13f12f210f189a2401
  - https://travis-ci.org/xuwei-k/scalaz/builds/367116558

[code]

[2018-04-17 01:55] jdegoes commented on #1665
This is now a regression test:

[code]

[2018-04-17 02:04] #1665 closed

[2018-04-17 02:04] #1399 closed

[2018-04-17 02:05] jdegoes opened #1722 "Decrease per-fiber memory overhead"
It's possible to minimize the memory overhead of fibers through some optimization & deferment.

[2018-04-17 02:06] jdegoes opened #1723 "Implement ring buffer for RTS"
Implement a high-performance ring buffer for RTS built using CAS primitives.

[2018-04-17 02:06] jdegoes opened #1724 "Implement IOQueue"
- [ ] Unoptimized `IOQueue`
 - [ ] Optimized `IOQueue`

[2018-04-17 02:23] jdegoes opened #1725 "Add scalaz.effect Type Class Hierarchy"
Working notes.

[code]

[2018-04-17 03:41] fwbrasil commented on #1665
Thank you @jdegoes!

[2018-04-17 04:38] emilypi opened #1726 "Void for 7.3.x and 7.2.x"
Scalaz 7 is absent a (`Void`) - we have an implementation in Scalaz 8, but the functionality could easily be a welcome addition to 7.x. See [@alexknvl's implementation](https://github.com/scalaz/scalaz/pull/1704) for reference

[2018-04-17 11:12] jdegoes commented on #1665
@fwbrasil Sure, thanks for the report!

[2018-04-17 13:42] jdegoes opened #1729 "Scalaz 8 legal issues"
I have been informed Scalaz 8.x has been [preliminarily licensed](https://github.com/scalaz/scalaz/issues/1334) under the 7.x license, which appears to be the [3-clause BSD license](https://opensource.org/licenses/BSD-3-Clause).

I would suggest this being a new version, with almost entirely new contributors, it's time to consider a different license. The BSD licenses have no advantages and many d

[2018-04-17 13:53] jbgi commented on #1729
:+1: for LGPLv3

[2018-04-17 14:05] aloiscochard commented on #1729
I personally don't understand the motivation for the license change.

For a simple mortal than me, could someone list what do we *gains* or *looses* by doing this change?

[2018-04-17 14:29] hrhino commented on #1729
yes please; I'm not very clear on how the various GPL/BSD licenses differ.

[2018-04-17 14:39] jdegoes commented on #1729
Hopefully @fommil will chime in here, but in brief, and in my view as a contributor to Scalaz 8, there are three compelling reasons to choose LGPL over BSD:

1. LGPL ensures that free software stays free, and that improvements are made available for contribution back into the community. This makes me more likely to donate my time, because I know that the software and all improvements will be free

[2018-04-17 15:35] aloiscochard commented on #1729
@jdegoes okay, this makes sense. Thanks for explaining it clearly.

I realize how important it can be for you, especially point 1.

It seems that people that fear LGPLv3 are just confusing it with the older version, so it's a matter of education I guess?

:+1: for LGPLv3 if it encourage contributions

[2018-04-17 15:42] relrod commented on #1729
I'm +0 on the license change, but I do tend to personally prefer the more liberal licenses (BSD, MIT, ISC, etc.). While I certainly hope and wish that users of Scalaz contribute any useful changes they make back to the upstream, I don't necessarily feel that's something we should force them to do.

That said, I haven't written any Scalaz 8 code, so I probably don't really have too much of a horse

[2018-04-17 15:45] fommil commented on #1729
I'm +1 for LGPL. If we want to include code from scalaz7 we need to include their LICENSE (or, infeasibly, ask everybody to relicense, which is not worth it).

That said, I'm not really active in scalaz8 at the moment so I yield all decisions to those pushing the code.

@jdegoes I haven't yet published the ioeffect backport, can you just quickly check that you're happy with the license? I received

[2018-04-17 15:53] hrhino commented on #1729
Has anyone used scalaz 7 code in scalaz 8? Everything I've written has been from scratch (although I've used and contributed to scalaz 7 before; not sure if that morally makes a difference)

[2018-04-17 17:52] jdegoes commented on #1729
@fommil Apache 2 is fine for the backport. 👍

I think it is feasible to ask everyone who has contributed to _Scalaz 8_ to relicense. Scalaz 7.x, not so much. This might change if any 8 contributors copied over code from 7.

[2018-04-17 18:36] aloiscochard commented on #1729
I'm pretty confident none of my commits include code copied from Scalaz7 (type-class definition might looks exactly the same, but this is purely incidental... those are so general anyway), also, if code was copied it was from my personal unlicensed/public domain one, so it is totally okay to re-license it.

My guess in that it is the same for the contributions from @jbgi, is that right?

[2018-04-17 18:47] jbgi commented on #1729
yes!

[2018-04-17 22:58] fommil commented on #1729
@jdegoes oh it is bsd3, i.e. the scalaz7 license, we can change that for 2.0.0 with the bifunctor to whatever you want.

[2018-04-17 23:27] emilypi commented on #1729
@fommil can we get a merge for this since @fosskers proved there were no regressions? We can submit license changes + updates in separate PR's.

[2018-04-19 08:33] xuwei-k commented on #1719
https://github.com/scalaz/scalaz/pull/1730

[2018-04-19 11:51] TomasMikula commented on #1729
My gut feeling is that we are not missing out much on improvements being contributed back: for a company, wouldn't it be cheaper to contribute improvements back than to maintain a private fork?

I see how LGPL might be more appealing to contributors. OTOH, it might scare some potential adopters (even though perhaps irrationally). I favor contributors.

If asked, I would agree to relicense my contr

[2018-04-20 13:17] xuwei-k commented on #1719
- Done 7.2.x
- TODO 7.3.x

[2018-04-20 14:34] ghost opened #1731 "Scalaz 8 Snapshot Binaries and Documentation"
Hi!

I am very interested in new implementations in Scalaz 8. For example,

- https://github.com/scalaz/scalaz/pull/1519
- https://github.com/scalaz/scalaz/issues/1526

**Are there any Snapshot binaries available from some sbt resolver?**

Also, I hope there will be (eventually) some **documentation for Mere Mortals** (like me). Thanks for docs like
https://github.com/scalaz/scalaz/blob/series/8.0

[2018-04-20 22:13] NeQuissimus commented on #1731
There are currently no artifacts that are being published.
Documentation beyond the `README` can be found in the `examples` project, which I converted to `tut` in #1530 and expanded upon in later PRs.
The process of putting together Scalaz 8 is a bit of an undertaking, so it required time.

If you are interested primarily in the `IO` work, there is now https://github.com/scalaz/ioeffect which make

[2018-04-26 10:14] fommil opened #1735 "continuing native support?"
Given that graal is now a thing... should we drop scala-native in 7.3+ ?

I vote yes. Cross building is a massive pain.

[2018-04-26 12:12] emilypi commented on #1735
I honestly don't know of anyone using it. If they want it, they should speak up and raise an issue later. Until that day, no thanks.

[2018-04-26 12:34] OlegYch commented on #1735
@fommil sounds too early

[2018-04-26 12:46] xuwei-k commented on #1735
some libraries depends on scalaz-core for scala-native (e.g. argonaut, monocle)

[2018-04-26 13:04] fommil commented on #1735
ok, maybe we keep in 7.3 but drop in scalaz8?

[2018-04-26 13:48] emilypi commented on #1735
That sounds like a good middle ground @fommil

[2018-04-27 01:59] Milyardo commented on #1735
I've found having scalaz in scala-native pretty useful, but I'm not using it for anything worthwhile. That said, I see the whole scala-native vs graal thing as a non-sequiter.

[2018-04-29 16:11] fommil opened #1737 "ContT should be standalone"
ContT is implemented in terms of IndexedContT (adding another type parameter and Contravariant) which is implemented in terms of IndexedContsT (adding a Comonad).

The indexing layer of abstraction does not have a Monad and I am not sure either generalisation is worth it. They complicate the code of something that is already very difficult to understand, and introduce unnecessary object allocation

[2018-04-30 15:42] TomasMikula commented on #1737
I don't know what the use case for the extra comonad is. +1 for removing
that.

OTOH, indexed signatures typically preclude some incorrect implementations,
so I would keep the implementation indexed. I believe it doesn't introduce
any additional allocations.

On Sun, Apr 29, 2018, 6:11 PM Sam Halliday <notifications@github.com> wrote:

[2018-05-02 04:14] xuwei-k commented on #921
https://github.com/ekmett/abelian

[2018-05-06 22:02] edmundnoble commented on #1526
https://github.com/scalaz/testz is now up. It needs Hedgehog-style property-based testing, but for now it should at least let us write laws.

[2018-05-08 12:43] NeQuissimus opened #1749 "String interpolator for Debug"
In order to avoid rogue `toString` calls, we should provide a string interpolator similar to #1496 that requires `Debug` instances for everything used.

Also, maybe rename the interpolator to `z"Hello ${World}"`

[2018-05-10 11:12] #1706 closed

[2018-05-10 11:36] malancas commented on #1716
Hello, I'll pick this issue up.

[2018-05-10 11:39] TomasMikula commented on #1716
Awesome! It's also fine to do them one at a time.

[2018-05-10 21:24] jdegoes opened #1759 "Change SafeApp to expect an error free main function"
`SafeApp` lets the user choose the type of error of the main function, which is a holdover from pre-bifunctor days.

It makes more sense to force the main fiber to handle all its errors.

So this:

[code]

can change to this:

[code]

and the `Error` type member of `SafeApp` can be deleted, with documentation updated to match.

[2018-05-10 21:27] jdegoes opened #1760 "Change SafeApp to support MainResult"
A `MainResult` type can be defined that determines the behavior of the runtime system with respect to threads.

[code]

The design is up for discussion but the main feature should be the ability to exit without waiting for threads to finish, exit waiting for threads to finish, or not exit regardless of threads.

[2018-05-11 13:14] hrhino opened #1763 "module and package object initialization causes deadlocks"
I'm not sure what to do about this (or how to ensure it'll never be a problem).

see, e.g. comments on scalaz/scalaz#1756, and [related Gitter discussion](https://gitter.im/scalaz/scalaz?at=5af56d491cfca775e1fe99c8).

[2018-05-11 19:16] alexknvl opened #1764 "`IsCovariant` instances for `IO`"
https://github.com/scalaz/scalaz/pull/1756#discussion_r187693960
It's okay to assert them.

[2018-05-11 19:56] jbgi commented on #1763
@mielientiev what was the workaround that you applied for #1756 to solve the issue?

In any case in seems wise that modules should not have any `val`s, ie. either use lazy val or object holder.
eg. for the case of `IListImpl.isCovariantInstance` the solution could be
[code]

[2018-05-12 15:36] seanparsons commented on #474
Closing to cleanup my own list of issues.

[2018-05-12 15:36] #474 closed

[2018-05-13 02:26] xuwei-k opened #1770 "STArray#fill throw MatchError"
[code]

[2018-05-13 18:54] #1770 closed

[2018-05-13 20:54] mielientiev commented on #1763
the workaround was just to swap tests. (add a test to the beginning)

[2018-05-14 20:16] jdegoes opened #1777 "Add Semigroup instance for Void"

[2018-05-14 20:19] jdegoes opened #1778 "Add Bifunctor instance for IO"

[2018-05-14 23:38] hrhino commented on #1777
#1779

[2018-05-14 23:38] #1777 closed

[2018-05-16 17:22] jdegoes opened #1782 "Introduce GenIO trait (GenIO.scala) with generators for IO"
Both for finding edge cases in the current implementation via new specs, and for trying to find counterexamples to laws, it is important to define a collection of ScalaCheck `Gen` generators for the `IO` type.

[code]

 * `genSyncSuccess[E, A](genA: Gen[A]): Gen[IO[E, A]]`. Given a generator for `A`, produces a generator for `IO[E, A]` using the `IO.point` constructor.
 * `genAsyncSuccess[E, A](ge

[2018-05-17 12:51] hrhino commented on #1601
#1783

[2018-05-17 12:51] hrhino commented on #1601
actually, I'm going to leave this open to remind myself to forward port to sz8.

[2018-05-17 17:37] jdegoes opened #1786 "Improve Async in Scalaz 8 IO"
Async can benefit from 2 improvements:

 * Delete `Async.Later`, and implement `Async.later` by passing a no-op canceler to `Async.MaybeLater`. This will simplify the ADT and handling the different cases in the code.
 * Add a new constructor, `Async.MaybeLaterIO`, whose canceler has signature `Throwable => IO[Void, Unit]`. This represents a pure canceler. Add a `Async.maybeLaterIO` helper function

[2018-05-18 00:10] barambani commented on #1786
I would give this a try if that's ok

[2018-05-18 00:25] jdegoes commented on #1786
@barambani That would be awesome! I am here to help with anything at all. 💪

[2018-05-19 00:34] hrhino commented on #1759
#1774

[2018-05-19 00:34] #1759 closed

[2018-05-19 00:35] hrhino commented on #1760
#1774

(just trying to keep the issue tracker clean, sorry John if this isn't actually done somehow)

[2018-05-19 00:35] #1760 closed

[2018-05-19 02:32] jdegoes commented on #1760
@hrhino Thanks!

[2018-05-19 07:49] fommil opened #1796 "backport IO to scalaz 7.3"
See #1798 and #1874

~~We already backported to 7.2 as an independent module, https://github.com/scalaz/ioeffect/~~

~~This should be a simple case of~~

~~- delete all the code in the `effect` module~~
~~- copypasta everything from the ioeffect module~~
~~- rename the packages back to `scalaz.effect`~~

[2018-05-19 10:42] fommil opened #1797 "custom IO Cord writer"
It is often the case, when writing applications, that we need to write large strings to network sockets or files. However, constructing the String in its entirety is a performance problem.

We should have a function in `effect` that can access the `Cord` internal structure and write it out using NIO in 7.3. Depends on #1796

[2018-05-19 15:08] jdegoes opened #1798 "Invert dependency between Scalaz 8 IO and Scalaz 8"
Scalaz 8 IO is integrated thoroughly into Scalaz 8, and the effect package depends on the core data types and type classes. However, it's possible and relatively straightforward to flip this dependency around, allowing Scalaz 8 IO to live in its own module, with Scalaz 8 and even Scalaz 7.3 depending on this module. This ticket outlines the steps involved in such a process.

 - [ ] Create a `scala

[2018-05-19 15:09] jdegoes commented on #1796
I will propose an [alternate issue](https://github.com/scalaz/scalaz/issues/1798) in lieu of this one:

 * #1798

[2018-05-19 15:25] fommil commented on #1798
if we co-opt ioeffect we'll need to provide a 7.2 backcompat module with the orphan instances. Seems a good reason to make a 3.0 release.

What about the package name?

I like the thought of having access to IO in core. No excuses for impure code!

[2018-05-19 15:38] ktonga commented on #1798
I could start with this one. Can someone create the new repo?

[2018-05-19 16:05] fommil commented on #1798
@ktonga let's just use ioeffect. We can cut a 3.0.0 release.

[2018-05-19 16:11] ktonga commented on #1798
I liked more `scalaz-io` it aligns better with the naming convention in the rest of the repos :(

[2018-05-19 16:15] jdegoes commented on #1798
@fommil @ktonga I do prefer to use a new repo.

Ioeffect can stay for 7.2. We should rename it, of course.

[2018-05-19 16:19] ktonga commented on #1798
Also in 7.2 we have to keep the package with a name other than `effect`
What you think about using `scalaz.io` as the base package in the new repo? it can be used across all versions. `effect` is too generic :)

[2018-05-19 16:27] fommil commented on #1798
`scalaz.io` wouldn't be good because so many people use `io.` domain names these days and it causes a nightmare when mixed with relative imports.

new repo it is!

[2018-05-19 16:35] ktonga commented on #1798
fs2 has an `io` sub-package and doesn't seem to be causing any problems. Just sayin'

[2018-05-19 16:37] fommil commented on #1798
oh, yes it is... so much.... not used it with circe lately? :smile:

[2018-05-19 16:39] jdegoes commented on #1798
@fommil Aren't they required to use `io.scalaz....`, i.e. reversed domain name? Technically, we should be using `org.scalaz` on everything.

[2018-05-19 16:40] ktonga commented on #1798
Namespaces are exactly to solve this kind of problems and we are using them to create even more problems? If you have `fs2.io` and `circe.io` just don't use relative packages.

[2018-05-19 18:09] fommil commented on #1798
that's the thing... it's `io.circe` and there are many others and this causing problems because there is always an `io` package in scope. They are not the only ones, it's just an example.

Imagine trying to call a package `com` or `org` and thing of the problems you'd see.

[2018-05-19 18:13] ktonga commented on #1798
I could totally call a package `com.domain.com`, the thing is that the package name is not just `com` but the whole thing. Using relative (pre-imported) packages is only there for convenience, and it is not convenient when it causes name clashing :smile:

[2018-05-19 21:33] hrhino commented on #1798
I don't see what the potential problem is? Is the idea that if you `import scalaz._`, you can't then `import io.circe._`? I dunno how annoying that would prove in practice; you can just put the circe import above the scalaz one.

I agree with @ktonga that `effect` is too generic.

Either way, I'd rather have the feature than my choice of package name, so I won't argue.

[2018-05-19 21:44] fommil commented on #1798
yeah, that's pretty much the problem. But it's not just circe, it also means if you have a `import fs2._` around it'll mess things up, and `import scalaz._` will always be getting in the way. Plus a bunch of other libs... I just think `io` is too overloaded.

[2018-05-19 23:27] jdegoes commented on #1798
We can keep bike-shedding on this, btw. We may come up with a short package name that's not too generic and fits with the existing conventions. I do think in practice package name conflicts will happen rarely in practice and would not happen at all if the generic import were something like `import scalaz.Predef._` instead of `import scalaz._; import Scalaz._`.

[2018-05-19 23:43] fommil commented on #1798
Why not just use the scalaz namespace?

[2018-05-19 23:48] hrhino commented on #1798
:+1: to `import scalaz.Prelude._`.

[2018-05-20 00:48] jdegoes commented on #1798
You mean so `import scalaz._` brings in everything? It'd certainly be nice if there were no name clashes between any types.

[2018-05-20 00:49] jdegoes commented on #1798
@fommil Oh and why are you still awake? 😉

[2018-05-20 04:44] ktonga commented on #1798
At least the consensus seems to be that `scalaz.effect` is not the right place for `IO`.

Bikeshedding ends here :relaxed:. Please react to this comment with your preference:

:heart: We go full-pureboi all the way and put `IO`-related stuff in `scalaz`
:+1: We put it in `scalaz.io` and we deal with potential problems later
:-1: We leave it in `scalaz.effect`

Thanks!

[2018-05-20 14:08] hrhino commented on #1798
Thanks for stealing our paint, @ktonga. :P

[2018-05-20 15:39] barambani commented on #1749
I can have a look a this if it's ok

[2018-05-21 00:57] #1786 closed

[2018-05-22 00:15] somethingconcon commented on #1726
Hi, I'd like to work on this issue. Can someone assign it to me?

[2018-05-22 02:33] #1782 closed

[2018-05-22 09:18] TomasMikula commented on #1726
Apparently, issues can only be assigned to members. Don't let that stop you from working on this, though. 😉

[2018-05-22 12:56] jdegoes commented on #1798
I made my vote for `scalaz.io` but it's contingent on changing the "default import" from `import scalaz._` to something more precise, like `import scalaz.Prelude._`.

If there's ever a reason a user has to import `scalaz._`, then I agree with @fommil this will cause clashes.

Another option is to run with `testz` theme and use `ioz`. In fact this could be used pervasively as a way to make all Scal

[2018-05-22 13:05] fommil commented on #1798
:+1: for the `z` suffix

[2018-05-22 15:00] jdegoes opened #1807 "Scalaz 8 Collections"
The Scalaz 8 collections library is a ground-up redesign of core data structures useful in functional programming, designed to achieve the following goals:

 - Clean design with a purely functional external interface
 - Use of type classes rather than inheritance to abstract across different collection types
 - Performance exceeding that of the standard library's collections
 - Performance-centric

[2018-05-22 15:50] jdegoes opened #1808 "Improve performance of EqClass"
Currently, `EqClass` is defined as so:

[code]

Unfortunately, we have no guarantee that such implementations of `equal` will first check for reference equality before checking for value equality.

In order to _guarantee_ that reference equality is always checked first, we should refactor:

[code]

Now we have a guarantee the high-performance shortcut will be used on all instances of `Eq`.

[2018-05-22 16:30] jdegoes commented on #1808
We should discuss laziness here, too, which also has an impact on performance.

[2018-05-22 17:18] NeQuissimus commented on #1808
You'd need to limit to `A <: AnyRef` to get `eq`.
What about `Eq` for primitives? Force boxing?

[2018-05-22 17:31] jdegoes commented on #1808
You can choose to not box:

[code]

But then you can't rely on `A` being an `AnyRef`, which means you can't use `eq`.

Hmmm. To not box or to use reference equality...

[2018-05-22 17:40] jdegoes commented on #1808
Perhaps numeric code can define its own specialized equals. Just thinking that for high-performance numerics, you can't really afford to box at the level of individual values...

For the average business application, though, reference equality shortcut seems like a far bigger win than unboxed primitive equality.

[2018-05-22 17:43] hrhino commented on #1808
Right. If I'm writing highly-optimized code, I'm probably going to be working only with concrete types, and `Eq` won't be a tool I reach for.

[2018-05-22 17:45] jdegoes commented on #1808
Also the APL folks have a point: doing everything at the level of arrays gives you lots of benefits. Could take a numerics lib in that direction...

[2018-05-22 20:33] somethingconcon commented on #1726
@TomasMikula Ah, sure. Thanks!

[2018-05-23 01:45] NeQuissimus commented on #1808
Can the `eq` not be macro'd in somehow? If `A <: AnyRef`, add this blob...
(I know nothing about macros :D)

[2018-05-23 10:27] artempyanykh commented on #1723
@jdegoes could you elaborate a bit please on where this ring buffer should fit inside RTS?

[2018-05-23 21:43] NeQuissimus commented on #1749
My bad, I forgot to close this issue. I already did the work in #1750

[2018-05-23 21:43] #1749 closed

[2018-05-24 12:56] jdegoes commented on #1483
Closed in favor of a richer encoding of `Functor` hierarchy. /cc @alexknvl

[2018-05-24 12:56] #1483 closed

[2018-05-24 13:40] jdegoes opened #1816 "Adopt modern file naming convention"
The current naming convention for files dates from the Java era, when every class was required to have its own separate file. This leads to a proliferation of files and does not actually make it easier for users to find what they're looking for, since it's not always obvious when a method is in syntax, data type, functions, or instances.

I propose we move from this convention:

[code]

To this co

[2018-05-24 13:42] TomasMikula commented on #1816
👍

[2018-05-24 13:44] TomasMikula commented on #1816
See also #1640.

[2018-05-24 13:51] jdegoes commented on #1816
@TomasMikula Awesome. I'll mark #1640 as closed because it's subsumed by this one.

[2018-05-24 14:49] hrhino commented on #1816
I nearly did this as part of #1814, so _big_ 👍 from me.

[2018-05-24 23:05] NeQuissimus commented on #1808
@jdegoes hmmm, I don't see how it could work with `instanceOf`... And the type alias `Eq[A]` cannot be `InstanceOf[EqualClass[A]]` because `InstanceOf` is invariant.

Not sure how one would solve that...

[2018-05-25 06:14] jbgi commented on #1808
I think it should work without problems.

But however I'd suggest a small variation:

[code]

[2018-05-25 19:35] barambani commented on #1816
If no one is looking into this I could do it

[2018-05-25 20:00] jdegoes commented on #1816
@barambani 👍

[2018-05-25 21:36] durban commented on #1725
Is this really true? If I understand it correctly, the left hand side of the `==` concurrently starts `f`, then immediately interrupts and then joins it. But if the forked `f` is "fast enough", it can already finish before the interruption happens. Am I missing something?

[2018-05-25 21:41] jdegoes commented on #1725
The law is wrong for 2 reasons: the reason you state, and another reason, which is that it may execute some part of `f`, which makes it not equivalent to `terminate t`.

I do want to see if I can turn it into a law but it will not be so simple as written. 😄

Help welcome on this or other type class laws. 😄

[2018-05-25 21:42] jdegoes commented on #1725
I will add a note here to extract a law from this:

[code]

[2018-05-26 10:46] KadekM opened #1819 "Rename scalaz.Void"
#1818 led to @edmundnoble (on gitter) suggesting to consider renaming `scalaz.Void` to something that doesn't clash with `java.lang.Void`.
Any suggestions or different opinions?
label: scalaz8

[2018-05-26 10:55] durban commented on #1725
I'm trying to understand this hierarchy, so I'm trying to figure out where bracket fits in. And I have trouble writing it with these operations. What I have so far is this:
[code]

But this doesn't seem correct, since if it gets interrupted immediately after `uninterruptible(acq)` succeeds, then we don't even enter the `always ...` part, so `rel` will not run ...

[2018-05-26 12:08] jbgi commented on #1819
`Nil` and `Nothing` are already taken, maybe `Nought`?
But not using `Void` would reduce the discoverability of the concept.

[2018-05-26 12:49] jdegoes commented on #1725
@durban My first goal is to eliminate `bracket` as a primitive. If I can't, then it will replace `always`. If I can, it will go alongside `always` so it can be optimized specially.

I think you can eliminate `bracket` as a primitive using `Promise` and `fork`, by having complex coordination in which you `always` the fork (but not the `use` being forked), run the `use` separately, and then in the m

[2018-05-26 12:51] jdegoes commented on #1819
It's true that not using `Void` reduces the discoverability of the concept, because that's what this thing is called in other languages. If only the `std` weren't imported by default... which we can fix in Scalaz 8, of course (and should), but not so easy to fix in user's code.

Other options: `Empty` `Uninhabited` `Initial`

[2018-05-26 14:03] ktonga commented on #1819
`∅`

[2018-05-26 14:18] hepin1989 commented on #1819
`NotUsed` and `Done`?

[2018-05-26 14:35] TomasMikula commented on #1819
My preferences, in descending order:

1. Keep `Void`
2. `Uninhabited`
3. `Impossible`

[2018-05-26 16:44] NeQuissimus commented on #1819
My vote is for keeping `Void`.
We should probably update the build to not import anything.

[2018-05-26 16:52] jdegoes commented on #1819
Can you write that up in a ticket? Good beginner issue.

We can also bake it into Scalazzi

[2018-05-26 16:59] NeQuissimus opened #1821 "scalac options"
We should review the subset of scalac options we want to have in Scalaz 8.

https://tpolecat.github.io/2017/04/25/scalac-flags.html is a good starting point.

We will want `"-Yno-imports"`.

Personally, I vote for using all the ones mentioned in the article (sans the Typelevel Scala stuff).

[2018-05-26 16:59] NeQuissimus commented on #1819
#1821

[2018-05-26 17:07] jdegoes commented on #1819
@NeQuissimus 🙏

Closed in favor of #1821.

[2018-05-26 17:07] #1819 closed

[2018-05-26 17:28] jbgi commented on #1821
We can use the lint options of the 7.3 branch + no-import. I used the tpolecat guide above when I added them.

[2018-05-26 21:32] barambani commented on #1816
I have almost ready a pr for this. I have a question, should the case of the file name's first letter be consistent ?

[2018-05-26 22:06] jdegoes commented on #1816
Let's make them all lower case. It's too hard to push shift and there's no reason to do so.

[2018-05-27 00:54] NeQuissimus commented on #1821
Turns out the options other than "no-imports" are already there xD

[2018-05-27 19:23] jdegoes opened #1826 "Enforce acyclic package dependencies"
We can use [Acyclic](https://github.com/lihaoyi/acyclic) to enforce no cyclic dependencies in our packages, moving, for example, all data instances into the `ct` package.

 - [ ] Incorporate [Acyclic](https://github.com/lihaoyi/acyclic) into the build
 - [ ] Move code around to achieve no cyclic dependencies
 - [ ] Publish dependency graph in contributors gu ide

[2018-05-28 13:18] #1821 closed

[2018-05-28 18:01] NeQuissimus commented on #1808
I tried this on the weekend but I can't get this to work. I must be missing something.

- Since we'd want it to be a sealed trait, things such as `Ord` need to self-type on `EqClass` rather than extend
- In the `Prelude` I have no idea how to define `type Eq[A] = ???`. You can't do `type Eq[A] = InstanceOf[EqClass[A]]` because of `InstanceOf` being invariant.

[2018-05-28 21:32] #1816 closed

[2018-05-29 00:21] NeQuissimus commented on #1808
This whole thread is a lot of ugly to take in... :D
Clearly, we need `sealed[scalaz]` :)

I was just thinking... We could also leave EqClass and only consider `AnyRef` a special case.
So people can extend `EqClass` if they want but `EqAnyRef` is the optimized case.
That way, there is no issue leaving `EqClass` unsealed, it actually has to be!

[code]

[2018-05-30 02:45] Jacoby6000 opened #1831 "Disjunction#fold bad type inference"
`fold` on scalaz 8 disjunction is subject to the [same problem](https://github.com/scala/bug/issues/10642) as scala stdlib `Option#fold`.

[2018-05-30 02:53] Jacoby6000 opened #1832 "Scalaz 8 Maybe does not have exaustiveness warnings for pattern matches."
I suspect this is true for other newtype sums that we have.

[2018-05-30 08:27] jbgi commented on #1832
Yes, this a known issue (cf. comments in thread https://github.com/scalaz/scalaz/pull/1450#issuecomment-381231202), but it is good to have a dedicated github issue to track it.

Personally I'd be in favor of removing the extractors (and use pattern match on `toOption` when needed), until we have a solution that preserve exhaustive checks.

[2018-05-30 13:55] NeQuissimus opened #1835 "Maybe type alias mismatch"
https://github.com/scalaz/scalaz/pull/1827#discussion_r191635011

I had to remove a type annotation because otherwise the following type error would be thrown:

[code]

Somewhere the type aliases for `Maybe` don't line up and I cannot figure out how to fix it.
It would be appreciated if somebody took a look and put the type annotation in examples that #1827 removed back.

[2018-05-31 11:01] fommil opened #1839 "Abstract over Inject"
There are faster encodings of Free out there that have less object alloctions and faster runtime switching, e.g. https://github.com/frees-io/iota

If we had an abstraction over how we inject, e.g.
https://github.com/frees-io/freestyle/blob/master/modules/core/shared/src/main/scala/freestyle/free/InjK.scala then it would make it a lot easier for users of scalaz to swap out their `Coproduct` encodin

[2018-05-31 14:10] TomasMikula commented on #1839
How is the `InjK` you link to an abstraction over our `Inject`? Btw, it is `sealed` (and I would say for good reason).

[2018-05-31 14:26] fommil commented on #1839
I haven't studied the `InjK` code in detail yet, Raul assures me it is an abstraction :grin:

[2018-05-31 14:28] fommil commented on #1839
btw, we recently unsealed `Inject` ... nobody objected but it hasn't been released yet https://github.com/scalaz/scalaz/pull/1775

[2018-05-31 19:02] TomasMikula commented on #1305
See #1800 and #1838.

[2018-05-31 19:16] fommil commented on #1839
as discussed in #1775, this looks to be fixed by unsealing `Inject`. We just need iota to provide evidence and should Just Work.

[2018-05-31 23:09] andyscott commented on #1839
PRs are welcomed :)

[2018-06-02 00:15] NeQuissimus opened #1844 "Interactive documentation"
We could integrate [Kazari|https://github.com/47deg/sbt-microsites/blob/master/KAZARI_README.md] into the examples project.
The code snippets on the documentation site would then be runnable.

It needs a remote evaluator, which needs to be figured out.

[2018-06-02 00:26] hrhino commented on #1844
Scalafiddle is embeddable as of recently, too. It's pretty nice.

[2018-06-02 02:33] NeQuissimus commented on #1844
The only thing is that we get validation out of `tut`. I have no experience with these embedded things but we would not want to lose validation.

[2018-06-04 16:27] edmundnoble opened #1852 "Revert the new module structure"
It's completely useless and not meaningful. The only distinction we have is between type classes and data.

[2018-06-04 17:43] NeQuissimus commented on #1852
Please make sure to also adjust all the changes to the example projects then

[2018-06-05 01:32] xuwei-k commented on #1662
https://github.com/scalaz/scalaz/pull/1842
https://github.com/scalaz/scalaz/pull/1847

[2018-06-05 01:32] #1662 closed

[2018-06-05 02:28] JohnSColeman commented on #1723
That would be awesome. Will you be grafting code from lmax? https://lmax-exchange.github.io/disruptor/

[2018-06-05 02:37] JohnSColeman opened #1854 "Provide a sample benchmark for IO/RTS vs Future/ExecutionContext"
I guess this isn' quite the right place of this but I'd like to see a benchmark of Futures vs IO for handling blocking code, e.g.:

[code]

Is there a discussion board for this kind of thing? Also some practical samples to help people transition from Future think to IO this would hugely help with adoptable.

[2018-06-05 08:11] fommil commented on #1662
:-D

[2018-06-06 15:45] ktonga commented on #1798
Is it possible to assign this one to me and mark it as WIP?

[2018-06-06 15:47] hrhino commented on #1831
github didn't auto-close this

[2018-06-06 15:47] #1831 closed

[2018-06-06 16:22] hrhino opened #1859 "Contravariant should be a subclass of InvariantFunctor"
`Functor` already is. Just do the same thing.

[2018-06-06 16:43] hrhino commented on #1859
As pointed out on gitter: you'll need to override `imap` in `PhantomClass` due to diamond inheritance.

[2018-06-06 17:57] jdegoes commented on #1798
@ktonga Unfortunately, it is not possible to assign it to you yet. I will add you to the organization and see if that fixes the problem.

[2018-06-06 21:12] nicflores commented on #1859
@hrhino, I'd like to take on this issue, can you assign it to me?

[2018-06-06 21:16] hrhino commented on #1859
I think @earldouglas has been taking a stab at it in #1860.

[2018-06-06 21:18] nicflores commented on #1859
@hrhino, no worries. I'll grab something else.

[2018-06-07 01:50] hrhino commented on #1859
#1860

[2018-06-07 01:50] #1859 closed

[2018-06-07 14:50] jdegoes commented on #1854
There are lots of benchmarks of `IO` vs `Future` in the `benchmarks` package. The problem with measuring blocking code is that at that point, you're measuring the performance of blocking, not `Future` / `IO`. The ideal benchmark measures the overhead of the solution and not the specifics of the sample problem being benchmarked.

[2018-06-07 14:54] jdegoes commented on #1852
The only useful distinction is between functions and...well, everything is a function, so let's put it all into `scalaz.functions`. 😈

My opinion on this: organizations should be dictated by pedagogy—i.e. textbook consensus. If most textbooks covering semi lattices also cover adjoint functors, then these concepts belong together in the same package. If most textbooks covering semi lattices do not

[2018-06-07 23:22] JohnSColeman commented on #1854
Hi,

Thanks, understood, blocking would just be JVM vs JVM so the same performance. I had wondered if there would be any difference in efficiencies perhaps because of less resource overhead with fibres.

How would one use IO with legacy libraries that return Futures and expect Futures? Like IO is the filling in a sandwich. Could IO based code defer until the Future completed somehow? We use a lot

[2018-06-08 14:36] #1601 closed

[2018-06-09 08:33] edmundnoble commented on #1852
I've softened on this. I do think I should make a PR proving my point which people can at least see.

@jdegoes I think your pedagogy argument isn't on the money, in fact I think it's the opposite. The problem is that when the user gets the package *wrong* that's very frustrating and annoying. The way we currently divide them seems liable to cause quite a few full package-searches among our users,

[2018-06-09 20:32] hrhino commented on #1764
#1799

[2018-06-09 20:32] #1764 closed

[2018-06-10 20:46] fommil opened #1866 "Codivide is Decideable, Coapply is Alternative"
Refactor accordingly. And remove the alias of Alternative to ApplicativePlus, the laws are different.

Also add psum equivalents to Foldable for Alternative.

[2018-06-10 21:06] alexknvl opened #1867 "coapplyN for Alternative"
One possible implementation: `either f g $ Left <$> fa <|> Right <$> fb`
Please ask @fommil for more info :wink:

[2018-06-10 21:07] fommil commented on #1867
To be done as part of #1866

[2018-06-10 21:07] #1867 closed

[2018-06-10 21:07] fommil commented on #1866
Don't miss Alex's impl in the referenced ticket

[2018-06-10 21:32] fommil commented on #1097
I figured out why these are bust and will fix as part of #1866

[2018-06-10 21:32] #1097 closed

[2018-06-10 21:33] fommil commented on #1097
TL;DR delete them, they belong on Alternative, which should be it's own typeclass not an alias

[2018-06-11 00:17] tonymorris commented on #1097
Make sure `some` uses `NonEmpty`. Yes these can work in Scala.

[2018-06-11 01:22] sideeffffect opened #1868 "Inspiration from Concurrent ML / Hopac"
Hello,
I've witnessed with great excitement the recent development in effect-full/asynchronous programming, like the [`IO`](http://degoes.net/articles/only-one-io) monad in `scalaz` by @jdegoes (and other Scala libs). Also, the need to work around the lack of green threads is pressing in other languages. I've been reading @wingo 's path to [implement concurrency in Guile (and Lua)](http://wingolog

[2018-06-11 03:40] malancas commented on #1716
Hey, I plan to have a PR up for this in the next day or so.

[2018-06-11 06:21] fommil commented on #1097
I made Applicative have lazy semantics recently, so that should help.

[2018-06-11 11:42] jdegoes commented on #1854
We do need a project to go `IO => Future`, `Future => IO`. Possibly a subproject in `scalaz-zio`.

[2018-06-11 11:43] jdegoes commented on #1868
This is worth opening up on http://github.com/scalaz/scalaz-zio.

[2018-06-11 11:57] ktonga commented on #1854
Why subproject? It's just two functions and does not require any extra dependency. It could be just an object plus syntax provided by zio in it's own file.

[2018-06-11 12:08] jdegoes commented on #1854
Impure and unlawful code should. It contaminate the core zio project. But we could have a zio-compat directory that generates a different JAR.

[2018-06-11 12:57] JohnSColeman commented on #1854
If someone would care to throw up an example (gist?) of these 2 functions, that would be hugely appreciated.

Sent from my iPhone

[2018-06-11 17:24] jdegoes commented on #1798
@ktonga Making excellent progress!

[2018-06-12 00:15] sideeffffect commented on #1868
_Moved to https://github.com/scalaz/scalaz-zio/issues/34_

[2018-06-12 00:15] #1868 closed

[2018-06-12 16:10] hrhino commented on #1533
Now that the `std` module exists, is this still an issue?

[2018-06-13 09:50] TomasMikula commented on #1533
If we have eliminated all `<typeclass>Instances` occurrences, then this is no longer an issue.

[2018-06-17 18:04] #1618 closed

[2018-06-17 18:06] #1464 closed

[2018-06-17 18:06] #1465 closed

[2018-06-17 18:06] #1510 closed

[2018-06-17 18:06] #1512 closed

[2018-06-17 18:06] #1646 closed

[2018-06-17 18:06] #1657 closed

[2018-06-17 18:06] #1735 closed

[2018-06-17 18:06] #1419 closed

[2018-06-17 18:06] #1420 closed

[2018-06-17 18:06] #1448 closed

[2018-06-17 18:06] #1517 closed

[2018-06-17 18:08] #1609 closed

[2018-06-17 18:08] #1684 closed

[2018-06-17 18:09] #1619 closed

[2018-06-17 18:10] fwbrasil commented on #1807
@jdegoes just to double check that we're aligned. Should the collections be strict?

[2018-06-17 18:10] #1737 closed

[2018-06-17 18:11] fommil commented on #1513
I'm going to close this in the hope that reducers will solve the issue of creating a data structure from a list / nel

[2018-06-17 18:11] #1513 closed

[2018-06-17 18:17] jdegoes commented on #1807
@fwbrasil I think strict is fine. There are a few performance reasons for a lazy collection, mostly involving pipelining (non reducing / folding), but that could be a separate structure.

[2018-06-17 21:54] alexknvl commented on #1695
I think this is something we should definitely do for S8.

[2018-06-18 10:31] fommil opened #1882 "MonadPlus reform"
https://wiki.haskell.org/MonadPlus_reform_proposal

I'm not sure if we can fix this in time for scalaz 7.3, but we should definitely split up Alternative and Plus in scalaz 8.

[2018-06-18 11:31] fommil commented on #1882
(on the co side we should split up decidable into decide + the identity version)

[2018-06-18 13:13] jdegoes commented on #1796
This issue should delete the effect package from 7.3, depend on ZIO, and introduce Scalaz instances and helper functions for ZIO.

[2018-06-18 18:40] NeQuissimus commented on #1622
For 8.0.x I would refer to #1807

[2018-06-18 19:49] #1622 closed

[2018-06-19 10:32] fommil opened #1884 "add Alternative"
Alt was added in #1881

we should add Alternative too, adding an `empty` with a `.some` and `.many`.

Everything on `Foldable` that is currently designed to use `Plus` (e.g. `psum`) should provide an `a` equivalent using `Alt` or `Alternative` instead.

The hierarchy will be further fixed in #1882

// @TomasMikula this is probably the heart of the problem!

[2018-06-19 10:32] fommil opened #1885 "moar Deriving instances"
add more instances of `Decidable` and `Alt` as per #1881

Where we have `ApplicativePlus` instances, we can probably provide an `Alt`

Somewhat related to #1884

[2018-06-19 10:36] fommil commented on #1882
(this is pretty tricky...)

[2018-06-19 13:38] jdegoes opened #1886 "Augment IO and IO.type with helper methods for Disjunction, Maybe"
Now that Scalaz 8 depends on ZIO (which defaults to `Either` and `Option`), some convenience functions are missing. This ticket is to introduce such convenience functions by adding methods to `IO` and `IO.type`. Any method which currently uses `Either` or `Option` or `List` should have an analogue that uses `\/`, `Maybe`, or `IList`.

[2018-06-19 13:38] jdegoes commented on #1854
@JohnSColeman These are being implemented in [zio](http://github.com/scalaz/scalaz-zio) in a new `interop` module, so you'll be able to use them from there without writing any code.

[2018-06-19 13:38] #1854 closed

[2018-06-19 16:43] ktonga commented on #1886
You forgot `TraversableOnce` in the list of types it defaults to :smile:

[2018-06-19 16:46] ktonga commented on #1886
Do you think we should introduce a `newtype` to implement `Applicative` (without `Monad`) ala `Validation` to combine using `par` instead of `bind`?

[2018-06-19 16:48] jdegoes commented on #1886
@ktonga Yes, for sure. `ParallelIO` perhaps.

[2018-06-19 16:55] ktonga commented on #1886
Then we get for free sequenced and parallel flavors for all the methods we have accepting `TraversableOnce` added recently

[2018-06-19 17:21] #1866 closed

[2018-06-19 22:07] fommil opened #1887 "Monad Asts may not be interpretable"
Some of the new `.Ast` data types that I added in #1837 may not be possible to interpret, in particular the `Ast`s that hold references to `Free`.

We should provide an existence proof by writing the interpreters for the example in https://github.com/scalaz/scalaz/blob/series/7.2.x/example/src/main/scala/scalaz/example/FreeMonadsUsage.scala

e.g. for the `MonadError` example.

@edmundnoble has mor

[2018-06-19 23:04] barambani commented on #1826
Sorry it took a while, I have been away. I have given a look at this and I have some observations. I added some comments to the PR. Thanks a lot for the help.

[2018-06-21 11:32] #1887 closed

[2018-06-21 11:32] fommil commented on #1887
Comments and thoughts in the merged PR if anybody wants to pick this up.

[2018-06-23 10:28] fommil opened #1892 "remove all covariant / contravariant type parameters"
there was a good stab at this already, but there are still some data types that are using `+` / `-` type parameters.

[2018-06-23 10:29] fommil opened #1893 "Scalaz 7.3"
We should decide on the priorities before moving 7.3 into RC.

These are the things I'd personally like to see done before we do that. @xuwei-k is there anything you'd like to add to the list? (please edit this comment to add things)

- [ ] instances for zio (and deleting `scalaz.effect` / generally removing anything that handles `Throwable`) https://github.com/scalaz/scalaz/issues/1796
- [ ] more

[2018-06-23 10:42] rabbitonweb commented on #1893
could those be evantually tickets labeled with `scalaz7.3` ?

[2018-06-23 10:45] fommil commented on #1893
@rabbitonweb the scalaz7 is basically just so the scalaz8 folk can ignore them :smile:

[2018-06-24 22:54] NeQuissimus opened #1897 "GitHub Pages"
- [ ] Email about domain
- [ ] Have scalaz.github.io repo created
- [ ] Create microsite for 7.3

[2018-06-25 17:01] fommil opened #1899 "tuple mapN"
e.g. (but add extra `applyN` onto Apply)

and investigate if we can implement the `applyN`s on `Apply` in a divide and conquer style.

[code]

[2018-06-27 09:43] fommil commented on #1899
Moar boilerplate (will try to update this regularly)

[code]

[2018-06-29 03:20] edmundnoble commented on #1826
Why would we do this? All this will do is disallow good code from being written that uses things from multiple packages.

[2018-06-29 03:20] jmcardon commented on #1826
B-but why

[2018-06-29 08:30] fommil opened #1903 "applyN in terms of ap or apply2?"
@TomasMikula in https://github.com/scalaz/scalaz/pull/1474 you change applyN to use apN for optimisation reasons, but I am not sure I agree with the rationale.

In scalaz-deriving, the primitive is `apply2`, not `ap`, as it is more natural to use. Likewise, in `IO` the primitive for parallelisation of effects (in the `Applicative @@ Parallel` instance) is also `apply2`. By making `applyN` go via `

[2018-06-29 13:52] barambani commented on #1826
I closed the PR as it looks like this ticket is not ready and might not go anywhere.

[2018-06-29 20:33] TomasMikula commented on #1903
These are at least 3 worthwhile questions:

 1. **Should we optimize the default method implementations as if `apply2` is the primitive?**
  I think that would be weird given our formulation of `Apply` with `ap` as the main primitive. So the question really is whether to change the definition of `Apply`.

 2. **Was #1474 actually an improvement?**
    Let's look at the definition of, say, `apply8`

[2018-06-29 21:34] fommil commented on #1903
good answer! Actually I vote for apply2 to be the primitive.

With regards to depth, yes I think we do care, because it makes it easier for downstream to optimise it because you can just optimise the next prime factor to improve almost all arities above you, like divide.

That said, I plan to override all the arities in terms of the generic impl once scalaz-deriving is feature complete.

[2018-06-30 09:16] TomasMikula commented on #1903
I agree that `apply2` seems more natural than `ap`, especially because `ap` orders the effects of its arguments in reverse (or in other words, it takes its arguments in reverse order), which is very confusing (but we do it to better work with Scala's type inference).

That's a compelling argument.

[2018-06-30 09:36] fommil commented on #1903
We could make the same argument in `Alt` but I chose to make `def alt` the primitive instead of `alt2` because of the precedent in `Apply`. If we change `Apply` we should also change `Alt`!

[2018-06-30 09:37] fommil commented on #1903
`Alt` has the same argument... I choose to use `def alt` as the primitive rather than `altly2` (maybe we should just call these things `def alt2` but I was following the precedent  set in `Apply`)

[2018-06-30 20:11] edmundnoble commented on #1797
Not a bad idea; what do you think about just exposing a
[code]

[2018-06-30 20:14] emilypi commented on #1797
Subissue: please prefix all `Cord` methods with `dank`. Thank you.

[2018-06-30 20:57] fommil commented on #1797
I'm not sure it's possible to abstract it, the string builder is a concrete class on the JDK :man_shrugging:

I'd prefer to have a way of doing this with NIO to avoid blocking the thread on the output stream.

[2018-07-01 16:22] fommil opened #1907 "should contramap be derived by divide2?"
@puffnfresh @ekmett your thoughts on this would be appreciated

In https://github.com/scalaz/scalaz/issues/1481#issuecomment-335437707 Brian suggested a way to derive `liftD` in terms of divide and conquer

[code]

I equated `liftD` with `contramap`, as per https://github.com/scalaz/scalaz/issues/1481#issuecomment-335600814, and converted `contramap` to a derived combinator in https://github.com/s

[2018-07-01 17:55] fommil commented on #1907
OK, I've convinced myself that encoders can't have a `Divide` instance, because they simply don't compose. My attempts to workaround this (above) by trying to account for the collection on both sides is a hack. In fact the obvious implementation would be

[code]

and this just makes it obvious that `divide2(divide2(a, b), c) != divide2(a, divide2(b, c))`.

[2018-07-01 17:55] #1907 closed

[2018-07-01 18:43] fommil commented on #1903
btw, we are missing a composition law in Apply similar to the Divide composition law. That would be very useful for scalaz-deriving.

[2018-07-01 20:04] TomasMikula commented on #1903
Namely?

[2018-07-02 15:00] edmundnoble commented on #1797
It is possible to abstract this in a stack-safe way. Just replace the stringbuilder calls with calls to `f`.

[2018-07-02 15:55] fommil commented on #1797
`f` would need to be defined as a side effect `f: String => Unit` to be equivalent to the current code.

[2018-07-02 17:05] edmundnoble commented on #1907
This makes sense to me. However, if you *always* emitted inside of `Collection`, you could have a lawful `Divisible`.

[2018-07-04 22:57] varming commented on #1729
Perhaps this issue is dead already, but I figured I might as well give my opinion.

TL;DR, if you switch to LGPLv3.0, then I will not be able to use Scalaz, thus I am -1 on this change.

Inside large corporations third party software imports are often approved or rejected based on the license of the software and the licenses of the general corpus of third party software previously imported. Where

[2018-07-04 23:48] tonymorris commented on #1729
@varming Scalaz will not be switching to LGPL. You can tell, because then it wouldn't be Scalaz anymore. It would be something. Take it easy.

[2018-07-05 00:22] fosskers commented on #1729
Shall we close this issue then?

[2018-07-05 07:38] fommil commented on #1729
@varming that's an interesting position your company is taking, I've not heard of any scala company accepting GPLv2 but not GPLv3! Note that GPLv2 is also incompatible with Apache 2.0, so you might have bigger problems, given that Scala is now Apache 2.0.

When I contribute to scalaz-core I will use whatever license everybody decides upon, but I'm going more copyleft for my own spinoffs and experi

[2018-07-05 12:01] NeQuissimus commented on #1729
+1 to close.

Note that on the microsite I have been using "Scalaz contributors" rather than the list of names. That may be more viable...

[2018-07-05 23:14] jdegoes commented on #1729
Please don't close. I'd at least like to switch to Apache 2 in Scalaz 8. I think there's probably unanimous agreement from active contributors.

[2018-07-11 08:38] durban commented on #1725
@jdegoes Yes, it may be possible with `Promise`. But then the next question is: is `Promise` a primitive? (If not, then implementing it would surely need what's called above `ForeignClass`; that would mean bracket cannot be on `TerminatableClass`.)

[2018-07-12 02:20] jdegoes commented on #1725
@durban I found it only needed `IORef` and `ensuring` (e.g. `always` above). You can see the implementation [here](http://github.com/scalaz/scalaz-zio).

I still don't like `async` and `asyncPure` and `sync`.

[2018-07-12 18:10] hepin1989 commented on #1897
how about just make use of paradox and make the docs live inside this repo?

liek:[pragmatic-scala](https://github.com/ReactivePlatform/Pragmatic-Scala)

[2018-07-13 09:22] cryeo opened #1915 "Flatten ApplicativeBuilder"
`ApplicativeBuilder`, which is the wrapper class to construct applicative expressions, is adopted a nested structure as follows.

- `ApplicativeBuilder3` is defined as an inner class of `ApplicativeBuilder`.
- `ApplicativeBuilder{N}` is defined as an inner class of `ApplicativeBuilder{N-1}` for 4 <= N <= 12.

This structure can reduce code redundancy, but it makes class names related with `Applica

[2018-07-13 14:29] jdegoes commented on #1725
Maybe `IORef` should be treated as primitive. It's the `IO` version of a mutable reference—hard to build much imperative code without it. You could create them from a type class.

`ensuring` is weaker than `always` above, which might affect the implementation. But you still need a ref to do `bracket`. We could go back to making `bracket` primitive or think if there's something(s) more primitive th

[2018-07-17 12:46] NeQuissimus commented on #1897
@retronym Seeing that you own the `scalaz.org` domain, could you point it at https://scalaz.github.io/ please? (Assuming you can do a redirect)
If we need/want to go through DNS, we need to do some setup with GitHub Pages...
Let me know if I can help in any way and thank you in advance :)

[2018-07-19 08:08] fommil commented on #1893
I recently added `Arbitrary` to `scalaz-deriving` e.g. upgrade the `Monad` in `ScalaCheckBinding` to

[code]

Although I am dubious about what laws this will satisfy. At a casual reading it appears to break RT for altly2, altly3, etc, since the leftmost element will be selected the most. @alexarchambault how did you solve this?

and, since we can,

[code]

Cogen could have a Decidable.

[2018-07-19 11:48] alexarchambault commented on #1893
@fommil In scalacheck-shapeless, I use `Gen.frequency` to give the right weight to the two elements of the sum type. Like in `H :+: T`, I give a weight of 1 to `H`, and of len(T) to `T`.

[2018-07-19 11:51] fommil commented on #1893
oh interesting! I do not know if I have access to that information. It would be good if `Gen` was able to carry such information.

[2018-07-22 12:49] sideeffffect commented on #1886
Hmm, is `ParallelIO` `newtype` really necessary? :thinking:
I mean, if we would implement `Applicative`'s `ap` in terms of `Monad`'s `flatMap` then yes, it would be sequential.
But if we implement `Applicative`'s `ap` using `par`, then every time we use the `Applicative` instance, we would be running code in parallel. And that would imply no need for any special `newtype`s.
Parallel implementation

[2018-07-23 01:34] retronym commented on #1897
@NeQuissimus I transferred the domain to @tonymorris some time ago (see https://github.com/scalaz/scalaz/issues/1418#issuecomment-312133973)

[2018-07-23 01:37] tonymorris commented on #1897
wotchyoo need?

[2018-07-23 01:42] tonymorris commented on #1897
All these domains now redirect to scalaz.github.io

* scalaz.org
* www.scalaz.org
* scalaz.com
* www.scalaz.com

Lemme know if you need anything else.

[2018-07-23 16:22] jdegoes commented on #1886
@sideeffffect A `Parallel`-like new type is necessary because `ap` must be consistent with `bind` for monads.

[2018-08-01 08:41] #1716 closed

[2018-08-05 21:26] alexknvl opened #1937 "Remove double negation elimination."
https://github.com/scalaz/scalaz/blob/series/7.2.x/core/src/main/scala/scalaz/Forall.scala#L22

It is not sound:
[code]

It is sound for some `P[_]` or if implemented as above, for some `A`. I suggest adding it as a typeclass instead.

[2018-08-07 13:01] jdegoes opened #1940 "Comprehensive instances for ZIO"
I'm sure I'm missing some:

 - [X] `Monad` for `IO`
 - [X] `Bifunctor` for `IO`
 - [ ] `MonadPlus`, `Alternative` for `IO`
 - [ ] `Monoid` for `IO`
 - [ ] `Applicative` for `Fiber`
 - [ ] `Monoid` for `Fiber`
 - [ ] `Applicative` for `Retry`
 - [ ] `Monoid` for `Retry`

[2018-08-08 04:37] edmundnoble commented on #1940
We have the `Applicative` for `Fiber`, see https://github.com/scalaz/scalaz/blob/series/8.0.x/base/shared/src/main/scala/scalaz/tc/applicative.scala#L20

[2018-08-08 06:42] edmundnoble opened #1942 "Laziness decisions"
We have a lot of things to think about regarding Scalaz 8 and laziness.

The 7.2.x story for this is somewhat ambiguous; here's a few issues:
https://github.com/scalaz/scalaz/issues/1663
https://github.com/scalaz/scalaz/issues/1516
https://github.com/scalaz/scalaz/pull/1875
https://github.com/scalaz/scalaz/issues/1097

And they don't even nearly cover the issue.

To sum up what I know, in decreasi

[2018-08-09 21:32] edmundnoble opened #1946 "Semicategory op naming"
What we have right now is really `andThen`, not `compose`, despite being called `compose`. In addition to the naming being confusing, factoring out the `Semicategory` dependency from a method that just uses `Function1` results in the code not working, because `Function1.compose` is the correct order.

[2018-08-09 22:06] edmundnoble commented on #1946
I propose renaming to the correct order and also introducing an `andThen` operator with flipped order.

[2018-08-09 22:18] edmundnoble opened #1948 "Unapply matchers"
We should remove every `unapply` matcher, because they ruin what little exhaustivity checking we have.

[2018-08-09 23:53] NeQuissimus opened #1949 "Port 7.3 microsite improvements"
- #1919
- #1920
- #1927
- Mention SNAPSHOT builds / Sonatype resolver
- Move 7.3 microsite to https://scalaz.github.io/7/ with redirect from https://scalaz.github.io/
- Deploy microsite to https://scalaz.github.io/8/

[2018-08-10 04:43] alexknvl opened #1950 "IList.append is misnamed."
Rename it to `prepend` and add `append`.

[2018-08-10 04:48] alexknvl opened #1951 "Add Traversable.sequence_ and Traversable.traverse_"
[code]
And specialize them for (at least) `IList`.

[2018-08-10 11:35] edmundnoble commented on #1948
Instead of fixing this the way I presented, @alexknvl how about adding "match totality" annotations on "sealed matches", and checking them inside scalaz-plugin? Is that feasible?

[2018-08-12 17:52] hrhino commented on #1951
Should these really live on `Traversable`? You can have

[code]
and similarly for `sequence_`.

[2018-08-12 20:59] fommil opened #1956 "IList.traverse over disjunction is super slow"
This hacky way, which we could introduce as `def traverseDisjunction` or something on `IList` as a specialisation, is about x10 faster

[code]

[2018-08-13 17:44] fommil commented on #1956
looks like maybe a less hacky thing (that still isn't as fast) would be to implement an efficient `apply2` on disjunction.

[2018-08-14 07:12] edmundnoble opened #1959 "Tests for `Const`"
Now that we're testing laws and methods on datatypes, `Const` could use a few. It'll be analogous to the tests for `IList` and later upcoming tests.

[2018-08-20 19:42] spf3000 commented on #1946
@edmundnoble when you say Semicategory - do you mean Semigroup?

[2018-08-21 10:13] fommil opened #1967 "use macro to construct IList"
https://github.com/dwijnand/collectmacros

would be a lot more efficient than the `def apply` methods we have that only go up to 8 parameters in 7.3...

Basically anywhere we have a `:_ *`

// @dwijnand

[2018-08-21 16:17] mcanlas commented on #1956
Is this now solved given #1958 is merged?

[2018-08-21 16:41] #1956 closed

[2018-08-21 16:41] fommil commented on #1956
yes it is :smile:

[2018-08-21 23:44] fommil commented on #1401
This is hopefully coming in 7.3. I created a dupe at #1874

[2018-08-22 00:09] ktonga commented on #1401
@fommil I think you meant #1796

[2018-08-22 20:01] jdegoes commented on #1940
@azanin `Schedule` has shipped and therefore it's now possible to write instances for it.

[2018-08-23 18:44] fommil commented on #1885
@azanin @enzief I'm not going to be watching this repo for updates... if you have any outstanding PRs please pester @jdegoes @hrhino and @alexknvl for reviews and to merge :smile:

and great work so far, this is going to be super useful to have in the lib.

[2018-08-30 04:05] #1712 closed

[2018-09-01 12:49] #1624 closed

[2018-09-01 12:50] #1466 closed

[2018-09-01 12:50] #1658 closed

[2018-09-01 13:00] #1695 closed

[2018-09-01 13:00] #1686 closed

[2018-09-01 13:01] #1797 closed

[2018-09-01 13:01] #1796 closed

[2018-09-01 13:02] #1899 closed

[2018-09-01 13:02] #1892 closed

[2018-09-01 13:02] #1967 closed

[2018-09-01 13:03] #1903 closed

[2018-09-01 13:53] dwijnand commented on #1967
*phew* now I don't feel so bad when I eventually delete the collectmacros repo..

[2018-09-02 17:29] edmundnoble commented on #1946
@spf3000: No, I mean `Semicategory`, see https://github.com/scalaz/scalaz/blob/series/8.0.x/base/shared/src/main/scala/scalaz/tc/semicategory.scala

[2018-09-02 18:55] emilypi opened #1973 "Migrate from Travis CI to Gitlab CI"
I just _know_ @fommil  will be on board with this one.

[Gitlab CI](https://about.gitlab.com/features/github/) is now available for free for all open-source projects on github. Considering our near-constant Travis CI woes and our history of pushing the envelope at Scalaz, I am proposing we move to Gitlab to make our workflow more consistent, and faster.

#### What does Gitlab offer?

- Ease of use

[2018-09-02 18:58] edmundnoble commented on #1973
This could probably bring our sz8 build/test times to near zero if we manage caching correctly, which is much harder on Travis and (IME) costly.

[2018-09-02 19:07] emilypi opened #1974 "Docs Docs Docs"
## Who's your favorite Dwarf? Clearly its

![image](https://user-images.githubusercontent.com/10459342/44959741-76366e80-aec1-11e8-8874-a00753f63cf2.png)

DOC. We need to get the documentation for Scalaz 8 up to date. Lots of new things have been added, and as with most things, documentation runs a little behind. This would be a good first issue for anyone who wants to learn more about the Scalaz

[2018-09-02 19:43] fommil commented on #1973
I agree that Travis is **Problematic**.

[2018-09-02 20:28] emilypi commented on #1973
@fommil _objectively_ **Problematic**

[2018-09-02 22:02] fommil commented on #1974
But dwarf is not my favourite doc!

![](http://zerocarbonista.com/wp-content/uploads/2012/01/doc-back-to-the-future.jpg)

[2018-09-03 01:26] NeQuissimus commented on #1973
It's not supposed to be free forever, if I understand correctly:

[code]

[2018-09-03 01:29] emilypi commented on #1973
@NeQuissimus that's not what was described in the section for Open Source Projects

[code]

I _hope_ OSS is not subject to the changes in availability. That would be something to confirm.

[2018-09-03 01:32] NeQuissimus commented on #1973
Oh, OK, so OSS gets Gold for free. CI/CD goes from the Free Tier into Silver/Gold in March. Should be OK then as long as we sign up as a Gold OSS account?!

[2018-09-03 01:33] emilypi commented on #1973
That's what I hope to confirm with them. The language seems to indicate that, but it's best to be sure 😄

[2018-09-04 22:53] puffnfresh opened #1976 "Plus for Validation is "orElse""
I think Plus for Validation should be "findSuccess" (i.e. it uses the Semigroup for errors) instead of "orElse" (which is the same implementation as Disjunction)

[2018-09-11 15:00] sideeffffect opened #1980 "Implement Map.filterM"
I would like to contribute `filterM` for `scalaz.Map` aka `scalaz.==>>`

would such contribution be welcome?

[2018-09-11 20:48] hrhino commented on #1980
Contributions are always welcome :)

I think it could be implemented for more than just `Map`, though. You should be able to implement it for any `Traversable`/`Applicative`... could you do that? I imagine you're thinking of something like

[code]
?

[2018-09-12 08:42] sideeffffect commented on #1980
kida, yes

[code]

to be more precise

[2018-09-19 02:49] hrhino commented on #1980
@sideeffffect either way, please open a pull request if you have an implementation; that's the easiest way to get a new feature 😉

[2018-09-19 23:07] sideeffffect commented on #1980
sorry, for complicated corporate reasons, it will take weeks before I will open a PR for this -- I just wanted to test the waters that it's even conceivable that something like that function would be accepted
let's hope it won't take long and nobody will be faster than me with `==>>.filterM`

[2018-09-20 12:36] hrhino opened #1982 "hash-based data structures?"
We've got `ISet` and `==>>`, which are pretty cool, but require an `Ord` constraint on the key type. Theoretically you can define an ordering for any ADT by considering it a glorified pair of `(branch index, values)`, and use the product ordering. However, given an `A => Long` hash function, we could implement a hash-trie-based persistent map, such as [`unordered-containers`](http://hackage.haskel

[2018-09-20 19:17] hrhino commented on #1959
#1970

[2018-09-20 19:17] #1959 closed

[2018-09-20 19:30] hrhino opened #1983 "applyN / apN / tupleN up to 22?"
They're currently up to some arbitrary arity. can be fixed in 7.2 for 2.12+.

[2018-09-20 19:45] hrhino commented on #804
#805

[2018-09-20 19:45] #804 closed

[2018-09-20 19:45] JasnaMRB opened #1984 "+++ for all Applicatives"
`Validation` has an implementation for +++ but it would be nice to have for other applicative functors.

[2018-09-20 20:04] Milyardo opened #1985 "Generalized sort missing"
would be nice to have a generalized sort method that takes a `scalaz.Order`, something along the lines of `def sort[F[_], A: Order](fa: F[A]): IList[A]` so it's consistent it `distinct`.

[2018-09-21 23:34] hrhino opened #1991 "get stream/vector out of our trees"
there's no reason to use `Vector` for `StrictTree`. In no way that I know of is it superior to doing something else. `Stream` could probably benefit from becoming `EStream` in `Tree`. Benchmarks would help.

[2018-09-21 23:35] edmundnoble commented on #1991
But it's *balanced* :wink:

[2018-09-22 04:24] edmundnoble opened #1994 "Delete `Eq.never`"
There's only one type for which `Eq.never` is a lawful instance, and that's `Nothing`. Reflexivity is a required law.

[2018-09-22 18:57] #1255 closed

[2018-09-26 17:12] pbrant opened #2001 "Either apply2 behaves differently (for side effects) as of 7.2.26"
We write our RDBMS transaction readers using `Kleisli[Error \/ ?, Transaction, A]` as a kind of poor man's `IO` which is then run in a `Task`. The optimizations in c07e7ed broke this in 7.2.26.

Here is an example console session:
[code]

In 7.2.25, it would have printed 1, 2, 3.

Regardless of whether or not the above is a good idea (and I'd be very interested in opinions on this point), it doesn

[2018-09-26 17:51] NeQuissimus commented on #2001
/cc @fommil

[2018-09-26 18:53] allantl opened #2002 "Add EitherT.fromOption"
I noticed that `EitherT` doesn't have this currently.
I'd like to help contribute.

WDYT?

[2018-09-26 19:38] hrhino opened #2003 "Distributive should be managed by gentypeclass"

[2018-09-26 19:39] hrhino commented on #2002
A pull request would be the best way to suggest this 😉. It sounds useful.

[2018-09-26 20:49] fommil commented on #2001
the change is referentially transparent, if you're doing side effects inside a pure data structure you're doing it wrong.

[2018-09-26 20:53] Jacoby6000 commented on #2001
@pbrant to solve your problem, consider fixing your structure.  Instead of running a side-effecting kliesli within IO, isolate your side-effects to where they're actually happening.

You really should be using `Kleisli[EitherT[IO, Error, ?], Transaction, A]`.  Even this is suspect, however.  Your Transaction is probably also supposed to be wrapped in IO.

[2018-09-26 21:01] fommil commented on #2001
btw I'd have thought https://github.com/scalaz/scalaz/commit/eabb6c84d31b77381c1ece126256b19c4955930e would have caused this.

[2018-09-26 21:09] fommil commented on #2001
ok, I discussed this with @jmcardon and he thinks there might be something worth investigating, maybe another bug in List.traverse. So reopening.

[2018-09-27 13:08] #2003 closed

[2018-09-27 15:29] pbrant commented on #2001
Thanks all. I don't need any help with the mechanics of the suggestions made. I do have a couple (in part, long-standing) questions about the topic in general, but I'll take those to the gitter room.

[2018-09-30 16:40] hrhino commented on #1994
#2007

[2018-09-30 16:40] #1994 closed

[2018-10-01 08:17] azanin commented on #1940
@jdegoes I was opening PR for Schedule instances but I just realized that https://github.com/scalaz/scalaz/pull/1998 has been opened.

I will look for something else, thanks

[2018-10-05 15:24] xuwei-k opened #2013 "add more ApplicativeError instances"

[2018-10-11 02:33] #1976 closed

[2018-10-14 05:44] allantl commented on #1951
So, what's the decision on this? Shouldn't this be on `Foldable`?

[2018-10-22 21:59] lemastero opened #2021 "Add Day convolution"
Currently there is no Day convolution type class in Scalaz. There are implementations in Haskell: http://hackage.haskell.org/package/kan-extensions/docs/Data-Functor-Day.html and Purescript: https://github.com/paf31/purescript-day

Here is a proposition: https://github.com/scalaz/scalaz/pull/2020

[2018-10-30 09:37] gaelrenoux commented on #1984
In Validation:
[code]

Add this and its default implementation to the Applicative typeclass:
[code]

Add apply syntax to the ApplySyntax with the +++ notation.

[2018-10-31 21:16] kczulko opened #2024 "scalaz.syntax.all._ doesn't work for MonadState/MonadError implicit parameters list."
Hi,

I made an example app here: https://github.com/kczulko/scalaz-mtl-issue showing what's the problem.

When I create a function like this:
[code]

and try to materialize it with the following code:

[code]

Program doesn't compile with the first error of: `value flatMap is not a member of type parameter F[Int]`

But when I move `MS` as explicit parameter:
[code]
and call the program appropriate

[2018-11-01 03:54] xuwei-k commented on #2024
https://github.com/scalaz/scalaz/issues/1110 ?

[2018-11-03 17:06] emilypi commented on #2021
It looks like you addressed it thoroughly and correctly - thanks for the submission, @lemastero.

[2018-11-03 17:06] #2021 closed

[2018-11-05 14:05] regiskuckaertz opened #2025 "Type parameters order in `TracedT`"
Hi 👋 I noticed a couple of examples where the functor is in head position in the type parameter list of some types:
[code]
compare with
[code]
Is it deliberate? If not, let me know and I can submit a PR.

[2018-11-05 15:43] xuwei-k commented on #2025
No, see https://github.com/scalaz/scalaz/pull/1800 and https://github.com/scalaz/scalaz/pull/1838

[2018-11-05 18:16] regiskuckaertz commented on #2025
Thanks both, I take it that the following changes would be recommended then:

Before|After
-------|----
`TracedT[W[_], A, B]`|`TracedT[T, W[_], B]`
`IndexedStoreT[F[_], +I, A, B]`|`IndexedStoreT[+S1, S2, F[_], B]`
`PIndexedStateT[F[_], -S1, S2, A]`|`PIndexedStateT[-S1, S2, F[_], A]`
`PStateT[F[_], S, A]`|`PStateT[S, F[_], A]`

[2018-11-15 14:54] #1984 closed

[2018-12-13 15:49] abcoates commented on #1974
Emily, are you still looking for help with this?  I'd be happy to help out.  Good documentation is in my own self-interest.

[2018-12-13 15:51] emilypi commented on #1974
Yes we are, @abcoates! Feel free to take a look and see what needs done. Most of the typeclasses and data are not sufficiently documented, and would benefit from your help if you choose to take on the task. It would be a fantastic learning experience as well.

[2018-12-13 16:01] abcoates commented on #1974
Indeed.  Can you tell me about Tut?  Also, do have a "hit list" of areas where documentation is weak, or is there a need just to go over everything top-to-bottom?

[2018-12-13 16:05] abcoates commented on #1974
Also, are you going to cover all documentation under this one issue, or will it make sense to break the documentation for different areas out into different issues?  I have little experience of issues in GitHub (mostly use JIRA), so I don't know what works best.

[2018-12-13 16:56] abcoates commented on #1974
@emilypi, I'm on the 'series/8.0.x' branch, and when I run 'sbt doc', it produces definitions on the 'scalaz.tests' page, but none on the 'scalaz' page.  Is there some trick to generating the scaladoc correctly, or should it really just be as simple as running 'sbt doc'?  Thanks.

[2018-12-14 11:06] abcoates commented on #1974
Anyway, I've started looking at this, let me know if you have anything else that I should know, @emilypi.  Thanks!

[2018-12-14 11:20] abcoates commented on #1974
Ignore this comment, seems to be a configuration thing - it's only generating scaladoc for the tests, not the main classes.

[2018-12-18 15:38] emilypi commented on #1974
Thanks for looking into it @abcoates - I'm glad you got it working. Lets cover all the documentation under this issue. I'll go through the project and see if i can come up with an in-depth list of stuff we can tick off as we go

[2018-12-20 21:30] #1951 closed

[2018-12-31 13:18] abcoates commented on #1974
No worries.  I'm just getting up to speed with how the project is set-up in sbt, and what consequences that has for how the Scaladoc generation works.

[2019-01-07 16:44] NeQuissimus opened #2033 "Show[Throwable]"
I just came across the fact that a `Show[Throwable]` exists.

1) It is not wired up into `import Scalaz._`, one needs to `import scalaz.std.java.throwable._`
2) It discards the stack trace entirely.

What's going on with this? :D
Is it OK if I fix both of these (for 7.2 and 7.3)?

[2019-01-09 10:47] abcoates commented on #1974
@emilypi, is the expectation that a lot of the missing Scalaz 8 documentation will copy the existing Scalaz 7 documentation?  Is there any reason why that should be the case, for things that are (or are mostly) the same?  Thanks.

[2019-01-10 03:21] lemastero opened #2034 "Distributive members are swapped compared to Haskell/Purescript"
Implementation of [Distributive](https://github.com/scalaz/scalaz/blob/series/7.3.x/core/src/main/scala/scalaz/Distributive.scala) looks like this:

[code]

But in [Haskell](https://hackage.haskell.org/package/distributive-0.5.3/docs/Data-Distributive.html) and [Purescript](https://pursuit.purescript.org/packages/purescript-distributive/4.0.0/docs/Data.Distributive) this looks differently:

[code]

[2019-01-10 10:48] lemastero commented on #2034
Cats [Distributive](https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/Distributive.scala) also has this feature/bug. Relevant PR: https://github.com/typelevel/cats/pull/2046

[2019-01-13 03:53] amogh09 commented on #1950
Would you please close this issue if it's been taken care of?

[2019-01-27 15:59] tigrus opened #2036 "scala 2.12.8 / sbt 1.2.8 - Resolve Exception"
I've created sbt project in intellij IDEA. After adding following line to build.sbt:

`libraryDependencies += "org.scalaz" %% "scalaz-core" % "7.3.0-SNAPSHOT"`

I've got following stacktrace:

[code]

Where to dig?

[2019-01-28 05:55] tigrus commented on #2036
No luck. It searches for package on:
`https://dl.bintray.com/sbt/sbt-plugin-releases/org.scalaz/scalaz-core_2.12/7.3.0-M26/ivys/ivy.xml`
instead of
`https://repo1.maven.org/maven2/org/scalaz/scalaz-core_2.12/7.3.0-M26/scalaz-core_2.12-7.3.0-M26.pom`

Where to dig?

[code]

[2019-01-28 13:30] NeQuissimus commented on #2036
Can I see your `build.sbt`?

[2019-01-28 20:41] tigrus commented on #2036
Sure, my sbt file looks following way:

[code]

It's IDEA sbt project + scalaz dependency.

[2019-01-29 02:07] NeQuissimus commented on #2036
You must have something in your `~/sbt/1.0/global.sbt` or so that resets the resolvers. Your `build.sbt` works fine for me...

[2019-01-29 13:32] NeQuissimus commented on #2036
Have you tried renaming `~/.sbt` to see whether a new one would help?
I am not an SBT export by any means but it seems that your resolvers are emptied somewhere.
It's as if `resolvers += Resolver.sbtPluginRepo("releases")` was `resolvers := Seq(Resolver.sbtPluginRepo("releases"))`

[2019-02-03 00:46] tonymorris commented on #1401
Fixed in #2037

[2019-02-03 00:46] #1401 closed

[2019-02-03 15:30] Milyardo opened #2038 "Delete scalaz.effect.IO"
With Task gone, it's now time to look at IO. Instead of deleting scalaz.effect outright however, I thought it best to raise an issue to see if `MonadIO` or any typeclasses in effect are worth salvaging. If they are should should `scalaz-effect` as a module remain and should these typeclasses be moved to `core`?

[2019-02-09 22:24] emilypi commented on #2038
@Milyardo lets move the instances to `core`, and nuke `scalaz.effect`?

[2019-02-09 23:50] tonymorris commented on #2038
I agree, if it can be made to work. It was all the hack jobs that needed deletion, including Task.

[2019-02-10 13:22] TomasMikula commented on #1628
`Task` has been removed in #2037. We either need a different example of local type class instance in our code base, or close this issue.

[2019-02-13 19:21] issackurian commented on #1946
@edmundnoble Is this still open because I see an `andThen` method on `Semicategory` now.

[2019-02-19 10:26] antonkw opened #2040 "Enum fromStepToL infinite loop"
Enum's `|-->` can skip max value of type and go to infinite lopp.
In case if returned by `succn` instance "jump" over the max value of type it is possible that it will produce big invalid list or go to infinite loop.
Example:
`110.toByte |--> (2, 127.toByte)`
https://github.com/scalaz/scalaz/blob/series/7.3.x/core/src/main/scala/scalaz/Enum.scala#L183 - here k value jumps from 126 to -128, so recu

[2019-02-19 16:29] antonkw commented on #2040
PR: https://github.com/scalaz/scalaz/pull/2041

[2019-03-09 03:10] xuwei-k opened #2044 "dual of Functor#widen in Contravariant"
I don't know what is suitable method name. any ideas? 🤔

https://github.com/xuwei-k/scalaz/commit/ed2be5b3dff8b54dd222d07c22c4d8c6c7ae5b9e

[code]

[2019-03-09 11:53] TomasMikula commented on #2044
`narrow`?

[2019-03-10 16:09] hamednourhani commented on #1974
Hi @abcoates .
Can you share part of this task with me . I really like to be participate and learn more about Scala.

[2019-03-10 16:10] emilypi commented on #1974
@abcoates Yes. However, improve where you can if you see missing bits

[2019-03-10 16:20] hamednourhani commented on #1974
@emilypi . where can I start from. Do you have any idea?

[2019-03-11 06:13] hamednourhani commented on #1808
Hi @jdegoes can i work on this issue as first commit?

[2019-03-12 10:41] NeQuissimus commented on #1808
Go for it

[2019-03-22 02:03] #2040 closed

[2019-03-23 05:59] #2044 closed

[2019-03-24 17:17] TomasMikula commented on #497
I am lazy to track down where exactly this was fixed, but the mentioned expression

[code]

does not overflow the stack anymore.

[2019-03-24 17:17] #497 closed

[2019-04-02 20:09] #1268 closed

[2019-04-03 18:43] GodPlaysChess opened #2051 "Consistent datatypes in scalaz."
scalaz introduces better versions of the standard datatypes, such as
`==>>` (Map),
`Maybe`,
`IList` , but does not use it itself (for instance `Map` api returns `List` instead of `IList` and `Option` instead of `Maybe`) , which makes very cumbersome to utilise them.

I identified those places:

DataTypes:
- IList
- ==>>
- These
- Ephemeral Stream

Typeclasses:
- Enum
- Foldable

I am going to link

[2019-04-30 09:10] GrafBlutwurst commented on #1985
`F[_]` would need to have a `Foldable`  for that right? If so `toIList.sorted` should do it.

[2019-05-30 19:56] #1950 closed

[2019-06-12 01:07] #1136 closed

[2019-06-13 14:09] jozi-k commented on #2002
You might consider closing this issue.

[2019-06-13 14:23] jozi-k commented on #1305
@TomasMikula I went through list of monad transformers and type parameters are now in correct order. I believe you can close this issue.

[2019-06-13 15:07] hrhino commented on #2002
nice catch; consider it considered! apparently github doesn't understand "addresses".

[2019-06-13 15:07] #2002 closed

[2019-06-15 12:15] TomasMikula commented on #1305
Thanks for checking, @jozi-k! Closing.

[2019-06-15 12:15] #1305 closed

[2019-06-27 13:12] oxbowlakes opened #2069 "Scala 2.13 regression in EitherT instances (using 7.2.27)"
Here's scala 2.12.8:

    Welcome to Scala 2.12.8 (OpenJDK 64-Bit Server VM, Java 1.8.0_181).
    Type in expressions for evaluation. Or try :help.

    scala> import scalaz.{EitherT, Functor, effect}, effect.IO
    import scalaz.{EitherT, Functor, effect}
    import effect.IO

    scala> type L[A] = EitherT[IO, Exception, A]
    defined type alias L

    scala> Functor[L]
    res0: scalaz.Functor

[2019-06-27 13:36] xuwei-k commented on #2069
Thanks for the report!

[2019-06-27 14:19] #2069 closed

[2019-06-27 15:55] oxbowlakes commented on #2069
I think that the scala peeps are going to consider that this regression is a fix. Consider the following code:
[code]
This fails to compile on 2.12.8. However, if we give `OptionT` a second type parameter:
[code]
The code compiles in scala 2.12.8. It seems like it should not. And it does not compile in scala 2.13.0. Given this regression (ahem, _fix_) to `scalaz`, I'm not sure what the fix/workaro

[2019-06-27 23:16] xuwei-k commented on #2069
- https://github.com/scala/bug/issues/11596
- https://github.com/scala/bug/issues/11068
- https://github.com/scalaz/scalaz/commit/2fdd887f536e17d59b586b93bf8639e5b84eccd9

[2019-06-28 00:56] xuwei-k commented on #2069
7.2.28 released

[2019-06-28 01:14] tonymorris commented on #2069
The correct thing to do is not use inheritance.

`trait [Monad[F[_]] { def functor: Functor[F[_]] = ???; def fmap[A, B] = ??? }`

c.f. the original Scalaz 7.

[2019-06-28 07:49] joroKr21 commented on #2069
Then you would need to define conversions `Monad => Applicative` and `Applicative => Functor` and prioritize them as well, but I guess that's what Scalaz 8 will do.

[2019-06-28 08:14] tonymorris commented on #2069
* `Monad => Bind => Functor`
* `Bind => Apply => Functor`
* `Comonad => Cobind => Functor`
* *etc etc*

There would be no need to prioritise implicit selection.

[2019-06-28 09:23] joroKr21 commented on #2069
There is, if you can get `Functor` via different paths (which you can) we have to prioritize those paths because no coherence guarantees.

[2019-09-07 21:01] jozi-k commented on #863
I believe this issue can be closed as `fromTryCatchThrowable` is deprecated.

[2019-09-07 21:11] jozi-k commented on #945
As `fromTryCatchNonFatal/fromTryCatchThrowable` is deprecated, I think you can close this issue.

[2019-09-11 19:15] TomasMikula commented on #863
👍

[2019-09-11 19:15] #863 closed

[2019-09-11 19:15] TomasMikula commented on #945
👍

[2019-09-11 19:15] #945 closed

[2019-12-10 06:51] Kevin-Lee opened #2081 "Support LazyList for Scala 2.13"
In Scala 2.13, `scala.collection.immutable.Stream` is deprecated and `scala.collection.immutable.LazyList` is recommend for replacement.

Scalaz doesn't not have `LazyListInstance` for 2.13. I was thinking about adding `LazyListInstance` but it's not as simple as adding one typeclass instance since other types and typeclasses use `Stream` (e.g. `scalaz.Zipper`, `scalaz.Foldable`, etc.).

Could you

[2019-12-10 11:26] tonymorris commented on #2081
Scalaz has `EphemeralStream` as the fix, but if you'd like to add the instances for `LazyList` as a PR, that would be great!

[2019-12-11 10:43] endertunc opened #2082 "scalaz.github.io is empty. There is no documentation."
What happened to docs at scalaz.github.io? I don't see anything at the moment, it's just empty.

<img width="2552" alt="Screenshot 2019-12-11 at 11 41 15" src="https://user-images.githubusercontent.com/15850565/70614739-fa1df100-1c02-11ea-8d60-bd589b73cce1.png">
<img width="2550" alt="Screenshot 2019-12-11 at 11 41 01" src="https://user-images.githubusercontent.com/15850565/70614741-fa1df100-1c02-

[2019-12-12 05:46] Kevin-Lee commented on #2081
@tonymorris Thanks for letting me know. I didn't know about `EphemeralStream`. I think I should try it.

Regarding adding the instances for `LazyList`, that's what I had tried before I opened this issue ticket. I found that it was not just about the `LazyListInstance`. Other types and typeclasses (e.g. `Zipper`, `Tree.Node`, `Foldable`, etc.) rely on `Stream` so those types should be moved to the

[2019-12-13 20:42] tonymorris commented on #2081
I think go for it. The use of `Stream` is a problem.

[2019-12-16 01:52] xuwei-k opened #2084 "Free, FreeAp and FreeT instances if Scala 2.13 or higher"
use by-name implicits
https://github.com/scalaz/scalaz/commit/12b69fe56867cd81a19ffd6bbfac5cd6857056f6

[2020-01-18 09:40] mikla opened #2087 "Publish for Scala.js 1.0-RC2"
I see that `7.3.0-M31` version is published to Scala.js 1.0-RC1.
Please, publish for RC2.

Thanks!

[2020-01-18 12:36] xuwei-k commented on #2087
done https://repo1.maven.org/maven2/org/scalaz/scalaz-core_sjs1.0-RC2_2.13/7.3.0-M31/

[2020-01-18 12:36] #2087 closed

[2020-02-21 12:26] Hzqi opened #2088 "Scala's for-yield doesn't work for Monad with high Generic"
There is something weird with Monad and for-field, here is my code:
[code]

here are actions go:
[code]

When I compile it, then I got:
[code]
I looks like for-yield doesn't go will with scalaz's Monad. It's a bug ?

scalaVerson: 2.13.1
scalazVersion: 7.2.30

[2020-02-21 12:31] Hzqi commented on #2088
And same kind of code in Haskell, it works fine :

[code]

[2020-02-21 13:36] xuwei-k commented on #2088
This is not a bug because Scala `type` is not equivalent to Haskell `newtype`.
I think you should create `case class AbstractAction[A]`

[code]

[code]

[2020-02-21 13:36] #2088 closed

[2020-02-21 14:07] Hzqi commented on #2088
It works, thx
By the way, it's that means I should use `case class` instead of `type` when I  define something like `Monad` ?

[2020-02-21 17:15] #1396 closed

[2020-04-12 22:53] mkeshav opened #2089 "Comparing Trees"
Hi,
   Sorry if this is a basic question. I was not able to find documentation or examples of comparing 2 trees

For example,

def t1: Tree[Char] =
      'P'.node(
        'O'.node(
          'L'.node('N'.leaf, 'T'.leaf),
          'Y'.node('S'.leaf, 'A'.leaf)),
        'L'.node(
          'W'.node('C'.leaf, 'R'.leaf),
          'A'.node('A'.leaf, 'C'.leaf)))

    def t2: Tree[Char] =
      'P'.no

[2020-04-13 00:07] tonymorris commented on #2089
I think you want the `Equal` type-class

[2020-04-26 13:45] xuwei-k opened #2090 "release 7.3.0 final"

[2020-04-29 09:15] xuwei-k commented on #2090
https://github.com/scalaz/scalaz/releases/tag/v7.3.0

[2020-04-29 09:15] #2090 closed

[2020-04-30 04:42] xuwei-k opened #2093 "scalafix rule for scalaz 7.2 => 7.3"

[2020-05-02 16:23] xuwei-k commented on #2093
https://github.com/scalaz/scalazfix

[2020-05-02 16:23] #2093 closed

[2020-06-08 08:41] sarkologist opened #2097 "Apply instance/syntax for Function1"
I upgraded from 7.2.27 to 7.3.1 and the following stopped compiling:
[code]
where `f,g : A => List[B]`

But the following does compile:
[code]

[2020-06-08 12:09] joroKr21 commented on #2097
Which version of Scala? Do you have `-Ypartial-unification` enabled?

[2020-06-08 12:21] sarkologist commented on #2097
`-Ypartial-unification` makes it work! I am using scala `2.12.7`. Thanks.

[2020-06-08 12:26] #2097 closed

[2020-06-09 04:04] sarkologist opened #2098 "Reducer instance in Apply makes function unserializable"
I upgraded from 7.2.27 to 7.3.1 (scalac `2.12.7` with `-Ypartial-unification`) and the following, occurring in a serialized function, stopped being Serializable:
[code]
where `f,g : A => List[B]`
[code]
debugging `org.apache.beam.sdk.util.SerializableUtils.serializeToByteArray`, further up the stack it is trying to serialize
[code]

[2020-07-31 09:20] lauraaraviciute opened #2100 "Scaladoc generation failing on .liftM[OptionT] in scalaz 7.3.1"
Hi team, I'm new to scalaz so bare with me.
We are working with scalaz optionT transformers and are using the following conventions:
[code]
And getting the following errors on `scaladoc`

[code]

At first glance, we had thought it may have been to do with this StackOverFlow issue: https://stackoverflow.com/questions/42684101/scaladoc-generation-fails-when-referencing-methods-generated-by-annotatio

[2021-05-15 06:15] justinhj opened #2160 "Trouble with Apply on Kleisli"
Having trouble getting ApplyOps to work with a Kleisli[Either as shown below.

[code]

Not sure if it's just the imports or if there is some issue preventing the type inference to allow ApplyOps to do its work and bring the ap function into scope.

[2021-05-15 08:22] tonymorris commented on #2160
Hey mate,

When having problems with implicit, try passing the implicit
*explicitly* to give you better error messages and work out why it's not
working (implicitly).

PS: an improvement is remove all the subclassing in the type-class
hierarchy.

On 5/15/21 4:15 PM, Justin Heyes-Jones wrote:

[2021-05-15 09:19] joroKr21 commented on #2160
That sounds like a partial unification problem - if you're using Scala 2.12 you need the `-Ypartial-unification` compiler flag.

[2021-05-16 04:13] justinhj commented on #2160
Yeah good idea, cheers.  So I can summon an Apply manually and it works fine...

[code]

But it's still not picking it up so I can't use ap on a1 in the next line.

hierarchy.

👍

[2021-05-16 04:13] justinhj commented on #2160
Thanks but I'm using 2.13

[2021-07-05 19:39] #2160 closed

[2021-08-20 01:12] danielnaumau opened #2185 "Running sequence with Free monad"
How can I convert ```Free[S[_], Error \/ ResultValue] to Error \/ Free[S[_], ResultValue]```   ?

[2021-08-20 03:04] xuwei-k commented on #2185
You can call `.sequence` if `S[_]` is `Traverse`.

Which versions of scala and scalaz? What's compile error?

[code]

[2021-08-21 05:52] #2185 closed

[2021-09-04 17:16] gokyo opened #2192 "libera.chat link does not work"
The chat link/button on the README does not work.

[2021-10-21 08:01] xuwei-k opened #2199 "avoid `scala.App` in example"
https://docs.scala-lang.org/scala3/book/methods-main-methods.html

[code]

[2021-11-19 04:36] Atry opened #2223 "ReactiveX operators for StreamT"
I found that [ReactiveX operators](http://reactivex.io/documentation/operators.html) are conceptually similar to `StreamT`. Shall
we add these operators into `StreamT`?

I suppose our goal is to support the use cases similar to ReactiveX's, but not necessarily the same names of operators. There have been `StreamT` methods corresponding to most of ReactiveX filtering operators, and aggregating oper

[2021-11-19 08:59] Atry commented on #2098
I wonder if we could make type classes be serializable.

[2021-11-19 15:55] Atry commented on #2223
I think we might want to reopen this issue. I should not have let all the related PRs "fix" this issue

[2021-11-20 20:39] Atry opened #2233 "Shall we remove the mandatory Trampoline from Cofree?"
`Trampoline` was introduced into `Cofree` in #702 for stack safety. However, #702 also excludes the data structures where the stack safety does not matter. For example, we cannot let `Tree` and `Cofree` share the same implementation.

Since now we have the `BindRec` type class, shall we let `Cofree` use the `S`'s own `BindRec` for stack safe evaluation, instead of hard coded a `Trampoline` in `Cof

[2021-12-20 19:56] #2223 closed

[2021-12-31 06:30] Atry commented on #921
The ListT implementation was right until 1fe66d311afb055d57af9ceb992e88bc65f56aaa

Is there any reason why we let `ListT` be unlawful `ListT` in 1fe66d311afb055d57af9ceb992e88bc65f56aaa ?

[2021-12-31 06:35] Atry commented on #921
Even if we have `CommutativeApply`, `ListT` is not a moand transformer because it cannot transform an arbitrary monad.

[2022-01-03 04:51] Atry commented on #1526
In fact, `Codensity` performs pretty good in Scala, and because continuation is the mother of all monads, it is easy to implement MTL MonadXxx type class instances with specialized `Codensity`s.

[2022-01-22 06:55] xuwei-k commented on #1086
- https://github.com/scalaz/scalaz/pull/2037

[2022-01-22 06:55] #1086 closed

[2022-02-08 05:21] #2199 closed

[2022-03-19 09:06] Atry opened #2325 "Improving StreamT"
Hi @xuwei-k and @TomasMikula, I created some PRs to improve `StreamT` but did not get reviewed yet. Do you have any concerns?

[2022-03-23 11:11] tonymorris commented on #2325
Hi @Atry I looked at the PRs. Please merge.

[2022-03-24 01:41] Atry commented on #2325
Thank you!
I have merged some PRs that are obviously adding missing features.
Still request for comment for the design changes in #2271

[2022-03-24 15:51] Atry commented on #2325
I merged https://github.com/scalaz/scalaz/pull/2271. Feel free to revert if you have any concern.

[2022-04-02 17:10] Atry commented on #2325
Since I didn't get feedback, I am going to merge #2337, #2278, and #2335.

Feel free to revert them if you have any concerns.

[2022-04-02 17:12] Atry commented on #921
I created #2334 for `ListT` done right. Any feedback?

[2022-04-06 05:53] Atry commented on #2325
Since I didn't get feedback, I am going to merge #2342.

Feel free to revert them if you have any concerns.

[2022-09-03 22:25] #2082 closed